<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Robots -->
    <meta name="robots" content="noindex, nofollow">
    <!-- Device -->
    <!-- <meta name="viwport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5">
    <meta name="format-detection" content="telephone=no">
    <!-- Title -->
    <title>Mathéo'sportfolio</title>
    <!-- Description -->
    <meta name="description" content="Mathéo's projects">
</head>

<body>
    <nav>
        <div class="nav-container">
            <div class="nav-logo">
                <a class="nav-logo-link coloredOnHover" href="/">
                    <span class=" nav-logo-link-bold">Portfolio</span> Mathéo Galuba
                </a>
            </div>
            <div class="nav-menu">
                <ul class="nav-menu-list">
                    <li class="nav-menu-list-element">
                        <a href="/">Home</a>
                        <div></div>
                    </li>
                    <li class="nav-menu-list-element">
                        <a class="active" href="/about">About</a>
                        <div></div>
                    </li>
                    <li class="nav-menu-list-element">
                        <a href="/contact">Contact</a>
                        <div></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="background" id="codeBlocksBackground">

        </div>

        <div class="titles" id="titles">
            <h1 class="fillTextWithgradient">À propos</h1>
            <h2 class="fillTextWithgradient">Ma formation et mon experience</h2>
        </div>

        <div class="downButton">
            <a href="#school">
                VOIR PLUS<br>
                <i class="fas fa-chevron-down"></i>
            </a>
        </div>

        <!-- Header paralax -->
        <script>
            // Header paralax
            backgroundParalax = document.getElementById("codeBlocksBackground");
            titleParalax = document.getElementById("titles");
            window.addEventListener("scroll", function () {
                backgroundParalax.style.transform = "translateY(" + window.pageYOffset / 2 + "px)";
                titleParalax.style.transform = "translateY(" + window.pageYOffset / 3 + "px)";
            }); 
        </script>
    </header>

    <section id="school" class="fade-in">
        <div class="container">

            <div class="section-title">
                <h2><span class="section-titel-number">01.</span> Formation</h2>
                <hr>
            </div>

            <div class="school-table">
                <div class="fade-in school-table-tr">
                    <div class="school-table-years">
                        <p>2022</p>
                        <span></span>
                        <p>2022</p>
                    </div>
                    <div class="school-table-description">
                        <h3>
                            Dernière session d'IUT
                        </h3>
                        <p>
                            Cégep de Matane, Matane, Quebec
                        </p>
                        <p>
                            <strong>
                                Compétences aquises :
                            </strong>
                            <br>
                        <ul>
                            <li>Analyse des risques et prevention en matière de securité informatique</li>
                            <li>Développement de jeu/simulation en réalité virtuelle</li>
                            <li>Développement d'un site portfolio</li>
                            <li>Maintenace de projet</li>
                            <li>Deployement de serveurs internet (AWS)</li>
                            <li>Intelligence artificielle évolutive</li>
                        </ul>
                        </p>
                        <a class="school-link" href="https://www.cegep-matane.qc.ca/" target="_blank">VOIR PLUS <i
                                class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="fade-in school-table-tr">
                    <div class="school-table-years">
                        <p>2020</p>
                        <span></span>
                        <p>2022</p>
                    </div>
                    <div class="school-table-description">
                        <h3>
                            Diplôme universitaire technologique en informatique spécialisé en imagerie numérique
                        </h3>
                        <p>
                            IUT de l’Université Clermont Auvergne (UCA), Le Puy-en-Velay, France
                        </p>
                        <p>
                            <strong>
                                Compétences aquises :
                            </strong>
                            <br>
                        </p>
                        <ul>
                            <li>Développement d'applications (C++, Qt)</li>
                            <li>Informatique avancée en imagerie numérique (Python, mathématiques 3D)</li>
                            <li>Conception d'applications 3D temps réel (Unity, C#)</li>
                            <li>Architecture et programmation des mécanismes de base d'un système informatique (C++)
                            </li>
                            <li>Programmation web backend : JavaScript avec le framework React Native et Express
                            </li>
                            <li>Programmation web frontend : HTML, CSS et Javascript</li>
                            <li>Gestion de bases de données relationnelles : SQL</li>
                            <li>Gestion de bases de données non relationnelles : Firebase</li>
                            <li>Mathématiques discrètes, algèbre linéaire</li>
                            <li>Anglais et informatique</li>
                            <li>Production de ressources 2D et 3D (Affinity Designer, 3dsMax)</li>
                        </ul>
                        <a class="school-link" href="https://ig.iut-clermont.fr/" target="_blank">VOIR PLUS <i
                                class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="fade-in school-table-tr">
                    <div class="school-table-years">
                        <p>2020</p>
                        <span></span>
                        <p>2017</p>
                    </div>
                    <div class="school-table-description">
                        <h3>
                            Baccalauréat scientifique spécialisé en informatique et science du numerique
                        </h3>
                        <p>
                            Lycée polyvalent Saint Jacque de Compostelle, Le Puy-en-Velay, France
                        </p>
                        <a class="school-link" href="https://sites.google.com/a/sjc43.fr/sjc43/" target="_blank">VOIR
                            PLUS <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="skills" class="fade-in">
        <div class="container">

            <div class="section-title">
                <h2><span class="section-titel-number">02.</span> Compétences & technologies</h2>
                <hr>
            </div>

            <div <h3 class="skill-header">Langues</h3>
                <div class="language-list">
                    <div class="language french">
                        <img class="language-flag french" src="/images/languages/1200px-Flag_of_France.svg.png" alt="">
                        <h5 class="language-title french">Bonjour !</h5>
                        <hr class="language-separator french">
                        <p class="language-content french">
                            <strong>Français</strong> langue maternelle
                        </p>
                    </div>
                    <div class="language english">
                        <img class="language-flag english"
                            src="/images/languages/1024px-Flag_of_the_United_Kingdom.svg.png" alt="">
                        <h5 class="language-title english">Hello !</h5>
                        <hr class="language-separator english">
                        <p class="language-content english">
                            <strong>Anglais</strong> niveau intermédiaire <span
                                class="languages-content-color">C1</span>
                        </p>
                    </div>
                    <div class="language german">
                        <img class="language-flag german" src="/images/languages/1200px-Flag_of_Germany.svg.png" alt="">
                        <h5 class="language-title german">Guten tag !</h5>
                        <hr class="language-separator german">
                        <p class="language-content german">
                            <strong>Allemand</strong> niveau basique <span class="languages-content-color">A2</span>
                        </p>
                    </div>
                </div>
            </div>

            <div>
                <h3 class="skill-header">Compétences clés</h3>
                <ul>
                    <li>Programation logicielle</li>
                    <li>Algorithmie</li>
                    <li>Gestion de projet</li>
                    <li>Développement de jeux vidéo</li>
                    <li>Gestion de serveur</li>
                </ul>
            </div>

            <div>
                <h3 class="skill-header">Technologies maitrisés</h3>
                <ul>
                    <li>C++ <span class="hearth fas fa-heart"></span></li>
                    <li>Python</li>
                    <li>Git</li>
                    <li>Unity</li>
                    <li>JavaScript</li>
                    <li>Base de données relationnelles (SQL...)</li>
                    <li>Base de données non relationnelles (Firebase...)</li>
                    <li>Mathématiques discrètes</li>
                    <li>Web frontend (HTML, CSS, JavaScript)</li>
                    <li>Web backend (Node.js, Express)</li>
                    <li>Suite Adobe (Photoshop, Illustrator, )</li>
                    <li>Modélisation 3D (Blender)</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="interests">
        <div class="container">

            <div class="section-title">
                <h2><span class="section-titel-number">03.</span> Intérêts & loisirs</h2>
                <hr>
            </div>

            <ul>
                <li>
                    <h4>Astronomie</h4>
                    <p>
                        Depuis très jeune, je suis attiré par les étoiles avec la volonté d’en apprendre plus sur notre
                        univers. Je pratique l’astronomie amateur dans un club ce qui me permet de rencontrer d’autre
                        personne qui partage la même passion.
                    </p>
                </li>
                <li>
                    <h4>Electronique</h4>
                    <p>
                        Initier par mon père, j’aime aussi créer mes propres montages électroniques en particulier avec
                        l’aide de cartes Arduino ou de Raspberry Pi. C’est pour moi une application concrète de
                        l’informatique de je trouve motivante et formatrice.
                    </p>
                </li>
                <li>
                    <h4>Science</h4>
                    <p>
                        Je suis passionné de science en tout genre, physique, biologie, etc. et j’aime en apprendre plus
                        sur notre monde. De plus avec mon esprit cartésien, j’apprécie énormément la méthode
                        scientifique.
                    </p>
                </li>
                <li>
                    <h4>Parapente</h4>
                    <p>
                        Détestant ne rien faire, j’ai toujours pratiqué au moins un sport. Au-delà de l’aspect physique,
                        cela m’aide à me détacher de mon écran et de mon travail. Natation, escrime, VTT, escalade,
                        plongée sous-marine et parapente, j’ai fini par développer une passion pour les sports à risque.
                        Ils m’ont appris à maitriser mon stress et à analyser chaque situation sans paniquer.
                    </p>
                </li>
                <li>
                    <h4>Plongée sous-marine</h4>
                    <p>
                        Détestant ne rien faire, j’ai toujours pratiqué au moins un sport. Au-delà de l’aspect physique,
                        cela m’aide à me détacher de mon écran et de mon travail. Natation, escrime, VTT, escalade,
                        plongée sous-marine et parapente, j’ai fini par développer une passion pour les sports à risque.
                        Ils m’ont appris à maitriser mon stress et à analyser chaque situation sans paniquer.
                    </p>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <ul class="footer-logo-list">
                <li>
                    <a href="https://github.com/Paracetamol56" target="_blank"
                        class="footer-logo-icon fab fa-github"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/matheogaluba/" target="_blank"
                        class="footer-logo-icon fab fa-linkedin"></a>
                </li>
                <li>
                    <a href="mailto:matheo.galu56@gmail.com" target="_blank" class="footer-logo-icon fas fa-at"></a>
                </li>
                <li>
                    <a href="https://discordapp.com/users/609748578004500517/" target="_blank"
                        class="footer-logo-icon fab fa-discord"></a>
                </li>
            </ul>
            <div class="footer-author">
                <p>
                    Made with <span class="hearth fas fa-heart"></span> by Mathéo Galuba - © Copyright 2022
                </p>
            </div>
            <div class="footer-credits">
                <p>
                    Icons from <a href="https://fontawesome.com/" target="_blank" rel="nofollow">Font Awesome</a>.
                    Web fonts from <a href="https://fonts.google.com/" target="_blank" rel="nofollow">Google</a>.
                </p>
            </div>
        </div>
    </footer>

    <!--Scripts -->
    <!--JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Smooth scrolling -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.0/smooth-scroll.min.js"></script>
    <!-- Header animation -->
    <script type="module" src="js/header.js"></script>
    <!-- Fader animation -->
    <script type="module" src="js/fader.js"></script>
</body>

</html>