<!DOCTYPE html>

<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5" />
  <meta name="identifier-url" content="https://matheo-galuba.com" />
  <meta name="title" content="Portfolio - Mathéo" />
  <meta name="description" content="Portfolio de Mathéo Galuba, étudiant en informatique" />
  <meta name="abstract" content="Portfolio de Mathéo Galuba, étudiant en informatique" />
  <meta name="keywords" content="portfolio, work" />
  <meta name="author" content="Mathéo Galuba" />
  <meta name="revisit-after" content="15" />
  <meta name="language" content="FR" />
  <meta name="copyright" content="© 2022 Mathéo Galuba" />
  <meta name="robots" content="All" />
  <meta name="distribution" content="global" />

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://matheo-galuba.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Portfolio - Mathéo">
  <meta property="og:description" content="Portfolio de Mathéo Galuba, étudiant en informatique">
  <meta property="og:image"
    content="https://raw.githubusercontent.com/Paracetamol56/Portfolio/master/public/images/SocialPreview.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="matheo-galuba.com">
  <meta property="twitter:url" content="https://matheo-galuba.com/">
  <meta name="twitter:title" content="Portfolio - Mathéo">
  <meta name="twitter:description" content="Portfolio de Mathéo Galuba, étudiant en informatique">
  <meta name="twitter:image"
    content="https://raw.githubusercontent.com/Paracetamol56/Portfolio/master/public/images/SocialPreview.png">

  <!-- Stylesheet-->
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!--Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.0/smooth-scroll.min.js"></script>
</head>

<body>
  <nav>
    <div class="nav-container">
      <div class="nav-logo">
        <a class="nav-logo-link coloredOnHover" href="index.html">
          <span class="nav-logo-link-bold">Portfolio</span> Mathéo Galuba
        </a>
      </div>
      <div class="nav-menu">
        <ul class="nav-menu-list">
          <li><a class="nav-menu-list-element" href="index.html">Home</a></li>
          <li><a class="nav-menu-list-element" href="about.html">About</a></li>
          <li><a class="nav-menu-list-element" href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div class="background" id="codeBlocksBackground">

    </div>

    <div class="titles" id="titles">
      <h1 class="fillTextWithgradient">Github dashboard</h1>
    </div>

    <div class="downButton">
      <a href="#section1">
        LEARN MORE<br>
        <i class="fas fa-chevron-down"></i>
      </a>
    </div>
  </header>

  <section id="section1">
    <div class="container">

      <div class="repos" id="repos">
        <div class="repo-card">
          <div class="repo-card-header">
            <h2>
              Lorem
            </h2>
            <i class="fab fa-github"></i>
          </div>
          <hr>
          <div class="repo-card-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ipsum eros, dictum ac lorem in, rhoncus
              pulvinar massa. Nunc sed nunc at nibh suscipit lacinia vitae vel dui. In aliquam semper ex non finibus.
              Maecenas ipsum dui, sodales sed nibh quis, posuere ultrices orci.
            </p>
          </div>
        </div>
        <div class="repo-card-language-ratio">
        </div>
      </div>
    </div>
  </section>

  <section id="section2">
    <div class="container">

      <div class="section-title">
        <h2><span class="section-titel-number">02.</span> Projets</h2>
        <hr>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ipsum eros, dictum ac lorem in, rhoncus
        pulvinar massa. Nunc sed nunc at nibh suscipit lacinia vitae vel dui. In aliquam semper ex non finibus.
        Maecenas ipsum dui, sodales sed nibh quis, posuere ultrices orci. Aliquam urna neque, aliquet tristique
        magna vel, faucibus pulvinar ex. Donec venenatis ex sit amet eros tempor, ut condimentum mauris
        accumsan. Etiam nec vulputate eros, at pretium nisl. Pellentesque sodales nisi quis egestas dignissim.
        Nam porttitor metus eget sem interdum vulputate. Maecenas erat velit, venenatis quis hendrerit
        tincidunt, congue vitae felis.
        <br>
        Aenean ornare lacus vitae metus finibus iaculis. Praesent cursus lobortis purus sed semper. Praesent vel
        eros quis metus porttitor convallis vel at lorem. Pellentesque mollis nibh at elit mattis posuere
        consequat sed augue. Praesent non ligula nec quam volutpat fringilla ac quis lectus. Ut ut consectetur
        ex, sed vehicula diam. Nulla pharetra massa eget tortor placerat porttitor. Mauris tincidunt, odio vitae
        semper semper, eros elit interdum dui, et scelerisque justo nisl id lectus. Maecenas a dignissim libero.
        Donec nulla tellus, vehicula vel justo in, accumsan ultrices mi. Curabitur nunc enim, ornare a sapien
        in, pretium pharetra mauris. Mauris consectetur augue ac mauris vulputate aliquet.
      </p>

    </div>
  </section>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- Header animation -->
  <script type="module" src="js/header.js"></script>
  <!-- GitHub dashboard -->
  <script type="module" src="js/githubDashboard.js"></script>

</body>

</html>