<!DOCTYPE html>

<html lang="fr">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-82F585Z8MZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-82F585Z8MZ');
    </script>
    <title>Portfolio - Mathéo</title>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5" />
    <meta name="identifier-url" content="https://matheo-galuba.com" />
    <meta name="title" content="Portfolio - Mathéo" />
    <meta name="description" content="Portfolio de Mathéo Galuba, étudiant en informatique" />
    <meta name="abstract" content="Portfolio de Mathéo Galuba, étudiant en informatique" />
    <meta name="keywords" content="portfolio, work" />
    <meta name="author" content="Mathéo Galuba" />
    <meta name="revisit-after" content="15" />
    <meta name="language" content="FR" />
    <meta name="copyright" content="© 2022 Mathéo Galuba" />
    <meta name="robots" content="All" />
    <meta name="distribution" content="global" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://matheo-galuba.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Portfolio - Mathéo">
    <meta property="og:description" content="Portfolio de Mathéo Galuba, étudiant en informatique">
    <meta property="og:image"
        content="https://raw.githubusercontent.com/Paracetamol56/Portfolio/master/public/images/SocialPreview.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="matheo-galuba.com">
    <meta property="twitter:url" content="https://matheo-galuba.com/">
    <meta name="twitter:title" content="Portfolio - Mathéo">
    <meta name="twitter:description" content="Portfolio de Mathéo Galuba, étudiant en informatique">
    <meta name="twitter:image"
        content="https://raw.githubusercontent.com/Paracetamol56/Portfolio/master/public/images/SocialPreview.png">

    <!-- Stylesheet-->
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        crossorigin="anonymous" />
    <!--Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.0/smooth-scroll.min.js"></script>
</head>

<body class="loading">
    <nav>
        <div class="nav-container container">
            <div class="nav-logo">
                <a class="nav-logo-link coloredOnHover" href="/">
                    <svg class="nav-logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 900">
                        <polygon class="cls-1"
                            points="346.07 287.66 512.15 0 1080 0 1080 180 616.07 180 450 467.66 346.07 287.66" />
                        <polygon class="cls-1" points="450 647.56 180 180 0 180 180 540 346.07 827.65 450 647.56" />
                        <polygon class="cls-1"
                            points="1080 269.9 1080 900 630 900 720 720 900 720 900 449.9 771.91 450 875.86 269.95 1080 269.9" />
                        <polygon class="cls-2"
                            points="667.98 270 346.07 827.65 387.85 900 512.1 900 875.86 269.95 667.98 270" />
                        <polygon class="cls-2" points="0 900 180 900 180 540 0 180 0 900" />
                    </svg>
                    <span class="nav-logo-link-bold">Portfolio</span>
                    <span class="nav-logo-link-thin"> Mathéo Galuba</span>
                </a>
            </div>
            <div class="nav-menu">
                <ul class="nav-menu-list">
                    <li class="nav-menu-list-element">
                        <a class="active" href="/">
                            <span>Accueil</span>
                            <div></div>
                        </a>
                    </li>
                    <li class="nav-menu-list-element">
                        <a href="/project">
                            <span>Projets</span>
                            <div></div>
                        </a>
                    </li>
                    <li class="nav-menu-list-element">
                        <a href="/contact">
                            <span>Contact</span>
                            <div></div>
                        </a>
                    </li>
                </ul>
                <input id="nav-menu-toggle-id" class="nav-menu-toggle" type="checkbox" />
                <label for="nav-menu-toggle-id">
                    <svg class="nav-menu-toggle-icon" viewBox="0 0 60 30">
                        <g class="nav-menu-toggle-icon-group">
                            <g class="nav-menu-toggle-icon-open">
                                <path d="M 6 0 L 54 0" />
                                <path d="M 6 15 L 54 15" />
                                <path d="M 6 30 L 54 30" />
                            </g>
                            <g class="nav-menu-toggle-icon-close">
                                <path d="M 15 0 L 45 30" />
                                <path d="M 15 30 L 45 0" />
                            </g>
                        </g>
                    </svg>
                </label>
            </div>
            <script>
                // add class nav-active to nav-menu-list when nav-menu-toggle is checked
                $('#nav-menu-toggle-id').click(function () {
                    if ($(this).is(':checked')) {
                        $('.nav-menu-list').addClass('nav-active');
                        $(hearer).a;
                    } else {
                        $('.nav-menu-list').removeClass('nav-active');
                    }
                });
            </script>
        </div>
    </nav>

    <header>
        <div class="background" id="codeBlocksBackground">

        </div>

        <div class="titles" id="titles">
            <h1 class="fillTextWithgradient lang" key="title">Mathéo's portfolio</h1>
            <h2 class="fillTextWithgradient lang" key="subtitle">Bienvenue dans mon univers</h2>
        </div>

        <div class="downButton">
            <a href="#about">
                VOIR PLUS<br>
                <i class="fas fa-chevron-down"></i>
            </a>
        </div>

        <!-- Header paralax -->
        <script>
            // Header paralax
            backgroundParalax = document.getElementById("codeBlocksBackground");
            titleParalax = document.getElementById("titles");
            window.addEventListener("scroll", function () {
                backgroundParalax.style.transform = "translateY(" + window.pageYOffset / 2 + "px)";
                titleParalax.style.transform = "translateY(" + window.pageYOffset / 3 + "px)";
            }); 
        </script>
    </header>

    <section id="about" class="fade-in">
        <div class="container">
            <div class="section-title">
                <h2><span class="section-title-number">01.</span> Présentation</h2>
                <hr>
            </div>
            <div class="about-grid">
                <div class="about-introduction">
                    <p>
                        Les nouvelles technologies prennent une place grandissante dans nos vies. C’est pourquoi
                        j’étudie
                        aujourd’hui l’informatique, domaine que je désire appliquer à des causes concrètes.
                        Curieux et désireux d’apprendre, j’aime découvrir et m’investir dans de nouveaux domaines de la
                        technologie : intelligence artificielle, web, systèmes embarqués, etc…
                        Mon ambition sur le long terme est de travailler dans un secteur qui me tient très à cœur :
                        l’aérospatial. En effet, ayant toujours été passionné par les étoiles, je désire participer au
                        développement de l’humanité dans l’espace.
                    </p>
                </div>
                <div class="about-picture">
                    <img src="https://github.com/Paracetamol56/Portfolio/raw/master/public/images/portrait (light).png"
                        alt="Mathéo Galuba">
                </div>
                <div class="about-occupation">
                    <h3><i class="fa-solid fa-building"></i> Occupation</h3>
                    <p>
                        <b>Etudiant en informatique</b> spécialisé en imagerie numerique à l’Université Clermont
                        Auvergne.<br>
                        <b>En mobilité internationnale</b> au Cégep de Matane au Quebec.
                    </p>
                </div>
                <div class="about-situation">
                    <h3><i class="fa-solid fa-location-dot"></i> Situation</h3>
                    <p>
                        <b>Cégep de Matane</b><br>
                        616 Avenue St Rédempteur,<br>
                        Matane, QC G4W 1L1<br>
                        Canada
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="projects" class="fade-in">
        <div class="container">

            <div class="section-title">
                <h2><span class="section-title-number">02.</span> Derniers projets</h2>
                <hr>
            </div>

            <ul class="carroussel">
            </ul>

            <script src="js/carroussel.js"></script>

            <a class="cta-button fade-in" href="/project">
                <span class="cta-button-text">Voir tous les projets</span>
            </a>
        </div>
    </section>

    <section id="school" class="fade-in">
        <div class="container">

            <div class="section-title">
                <h2><span class="section-title-number">01.</span> Formation</h2>
                <hr>
            </div>

            <div class="cv-and-school">
                <div class="school-table">
                    <div class="fade-in school-table-tr">
                        <div class="school-table-years">
                            <p>2022</p>
                            <span></span>
                            <p>2022</p>
                        </div>
                        <div class="school-table-description">
                            <h3>
                                Dernière session d'IUT
                            </h3>
                            <p>
                                Cégep de Matane, Matane, Quebec
                            </p>
                            <p>
                                <strong>
                                    Compétences aquises :
                                </strong>
                                <br>
                            <ul>
                                <li>Analyse des risques et prevention en matière de securité informatique</li>
                                <li>Développement de jeu/simulation en réalité virtuelle</li>
                                <li>Développement d'un site portfolio</li>
                                <li>Maintenace de projet</li>
                                <li>Deployement de serveurs internet (AWS)</li>
                                <li>Intelligence artificielle évolutive</li>
                            </ul>
                            </p>
                            <a class="school-link" href="https://www.cegep-matane.qc.ca/" target="_blank">VOIR PLUS <i
                                    class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="fade-in school-table-tr">
                        <div class="school-table-years">
                            <p>2022</p>
                            <span></span>
                            <p>2020</p>
                        </div>
                        <div class="school-table-description">
                            <h3>
                                Diplôme universitaire technologique en informatique spécialisé en imagerie numérique
                            </h3>
                            <p>
                                IUT de l’Université Clermont Auvergne (UCA), Le Puy-en-Velay, France
                            </p>
                            <p>
                                <strong>
                                    Compétences aquises :
                                </strong>
                                <br>
                            </p>
                            <ul>
                                <li>Développement d'applications (C++, Qt)</li>
                                <li>Informatique avancée en imagerie numérique (Python, mathématiques 3D)</li>
                                <li>Conception d'applications 3D temps réel (Unity, C#)</li>
                                <li>Architecture et programmation des mécanismes de base d'un système informatique (C++)
                                </li>
                                <li>Programmation web backend : JavaScript avec le framework React Native et Express
                                </li>
                                <li>Programmation web frontend : HTML, CSS et Javascript</li>
                                <li>Gestion de bases de données relationnelles : SQL</li>
                                <li>Gestion de bases de données non relationnelles : Firebase</li>
                                <li>Mathématiques discrètes, algèbre linéaire</li>
                                <li>Anglais et informatique</li>
                                <li>Production de ressources 2D et 3D (Affinity Designer, 3dsMax)</li>
                            </ul>
                            <a class="school-link" href="https://ig.iut-clermont.fr/" target="_blank">VOIR PLUS <i
                                    class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="fade-in school-table-tr">
                        <div class="school-table-years">
                            <p>2020</p>
                            <span></span>
                            <p>2017</p>
                        </div>
                        <div class="school-table-description">
                            <h3>
                                Baccalauréat scientifique spécialisé en informatique et science du numerique
                            </h3>
                            <p>
                                Lycée polyvalent Saint Jacque de Compostelle, Le Puy-en-Velay, France
                            </p>
                            <a class="school-link" href="https://sites.google.com/a/sjc43.fr/sjc43/"
                                target="_blank">VOIR
                                PLUS <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <a class="cta-button fade-in"
                    href="https://github.com/Paracetamol56/Portfolio/raw/master/public/CV_web.pdf" target="_parent">
                    <span class="cta-button-text">Voir mon CV <i class="fas fa-download"></i></span>
                </a>
            </div>
        </div>
    </section>

    <section id="skills" class="fade-in">
        <div class="container">

            <div class="section-title">
                <h2><span class="section-title-number">02.</span> Compétences & technologies</h2>
                <hr>
            </div>

            <div>
                <h3 class="skill-header">Langues</h3>
                <div class="language-list">
                    <div class="language french">
                        <h5 class="language-title french">Bonjour !</h5>
                        <hr class="language-separator french">
                        <p class="language-content french">
                            <strong>Français</strong> langue maternelle
                        </p>
                    </div>
                    <div class="language english">
                        <h5 class="language-title english">Hello !</h5>
                        <hr class="language-separator english">
                        <p class="language-content english">
                            <strong>Anglais</strong> niveau intermédiaire <span
                                class="languages-content-color">C1</span>
                        </p>
                    </div>
                    <div class="language german">
                        <h5 class="language-title german">Guten tag !</h5>
                        <hr class="language-separator german">
                        <p class="language-content german">
                            <strong>Allemand</strong> niveau basique <span class="languages-content-color">A2</span>
                        </p>
                    </div>
                </div>
            </div>

            <div>
                <h3 class="skill-header">Compétences clés</h3>
                <ul class="skill-container">
                    <li class="skill-element">
                        <div class="skill-element-inside">
                            <i class="fas fa-laptop-code"></i>
                            <h4 class="skill-element-title">Programation logicielle</h4>
                            <p>En partie en autodidacte et en partie avec ma formation, j’ai appris au fil des années à
                                concevoir et à réaliser des programmes informatiques.</p>
                        </div>
                    </li>
                    <li class="skill-element">
                        <div class="skill-element-inside">
                            <i class="fas fa-cogs"></i>
                            <h4 class="skill-element-title">Algorithmie</h4>
                            <p>Avec mon esprit cartésien, j’adore concevoir des algorithmes que j’utilise dans mes
                                projets. Curieux, j’aime aussi comprendre les mathématique derrière les technologie que
                                j’utilise tous les jours.</p>
                        </div>
                    </li>
                    <li class="skill-element">
                        <div class="skill-element-inside">
                            <i class="fas fa-brain"></i>
                            <h4 class="skill-element-title">Résolution de problèmes</h4>
                            <p>Je défini souvent mon métier comme une suite de problèmes à résoudre. C’est pour moi
                                extrêmement important de savoir définir, analyser et proposer une solution à ces
                                problèmes.</p>
                        </div>
                    </li>
                    <li class="skill-element">
                        <div class="skill-element-inside">
                            <i class="fas fa-tasks"></i>
                            <h4 class="skill-element-title">Gestion de projet</h4>
                            <p>Autour de moi, je suis reconnu pour mes compétence dans ce domaine. Aussi bien
                                techniquement avec le versionnage Git qu’humainement avec la répartition des tâches et
                                les méthode Agile, Scrum, etc.</p>
                        </div>
                    </li>
                    <li class="skill-element">
                        <div class="skill-element-inside">
                            <i class="fas fa-gamepad"></i>
                            <h4 class="skill-element-title">Développement de jeux vidéo</h4>
                            <p>Au cours de ma formation j’ai appris à me servir de moteur de jeu tel que Unity ou Unreal
                                Engine aussi bien en 2D que 3D ou même en réalité virtuelle.</p>
                        </div>
                    </li>
                    <li class="skill-element">
                        <div class="skill-element-inside">
                            <i class="fas fa-server"></i>
                            <h4 class="skill-element-title">Gestion de serveurs</h4>
                            <p>Grand enthousiaste de l’auto hébergement, j’ai appris a déployer, maintenir et
                                administrer des services sur serveur principalement en autodidacte.</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="skill-header">Technologies maitrisés</h3>
                <ul class="technologies-container">
                    <li class="technology">
                        <img src="/images/technologies/C++.svg" alt="Firebase.svg" draggable="false">
                        <p>C++ 💜</p>
                    </li>
                    <li class="technology">
                        <img src="/images/technologies/Python.svg" alt="Firebase.svg" draggable="false">
                        <p>Python</p>
                    </li>
                    <li class="technology">
                        <img src="/images/technologies/Git.svg" alt="Firebase.svg" draggable="false">
                        <p>Git</p>
                    </li>
                    <li class="technology">
                        <img src="/images/technologies/Unity.svg" alt="Firebase.svg" draggable="false">
                        <p>Unity</p>
                    </li>
                    <li class="technology">
                        <img src="/images/technologies/SQL.svg" alt="Firebase.svg" draggable="false">
                        <p>Base de données relationnelles (SQL...)</p>
                    </li>
                    <li class="technology">
                        <img src="/images/technologies/Firebase.svg" alt="Firebase.svg" draggable="false">
                        <p>Base de données non relationnelles (Firebase...)</p>
                    </li>
                    <li class="technology">
                        <img src="/images/technologies/Frontend.svg" alt="Firebase.svg" draggable="false">
                        <p>Web frontend (HTML, CSS, JavaScript...)</p>
                    </li>
                    <li class="technology">
                        <img src="/images/technologies/Nodejs.svg" alt="Firebase.svg" draggable="false">
                        <p>Web backend (Node.js, Express...)</p>
                    </li>
                    <li class="technology">
                        <img src="/images/technologies/Adobe.svg" alt="Firebase.svg" draggable="false">
                        <p>Suite Adobe (Photoshop, Illustrator...)</p>
                    </li>
                    <li class="technology">
                        <img src="/images/technologies/Blender.svg" alt="Firebase.svg" draggable="false">
                        <p>Modélisation 3D (Blender)</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="interests">
        <div class="container">

            <div class="section-title">
                <h2><span class="section-title-number">03.</span> Intérêts & loisirs</h2>
                <hr>
            </div>

            <div class="interests-container">
                <div class="interest">
                    <h3 class="interest-title">Astronomie</h3>
                    <div class="interest-content">
                        <i class="interest-logo fas fa-star"></i>
                        <p>
                            Depuis très jeune, je suis attiré par les étoiles avec la volonté d’en apprendre plus sur
                            notre
                            univers. Je pratique l’astronomie amateur dans un club ce qui me permet de rencontrer
                            d’autre
                            personne qui partage la même passion.
                        </p>
                    </div>
                </div>
                <div class="interest">
                    <h3 class="interest-title">Electronique</h3>
                    <div class="interest-content">
                        <i class="interest-logo fas fa-microchip"></i>
                        <p>
                            Initier par mon père, j’aime aussi créer mes propres montages électroniques en particulier
                            avec
                            l’aide de cartes Arduino ou de Raspberry Pi. C’est pour moi une application concrète de
                            l’informatique de je trouve motivante et formatrice.
                        </p>
                    </div>
                </div>
                <div class="interest">
                    <h3 class="interest-title">Science</h3>
                    <div class="interest-content">
                        <i class="interest-logo fas fa-flask"></i>
                        <p>
                            Je suis passionné de science en tout genre, physique, biologie, etc. et j’aime en apprendre
                            plus
                            sur notre monde. De plus avec mon esprit cartésien, j’apprécie énormément la méthode
                            scientifique.
                        </p>
                    </div>
                </div>
                <div class="interest">
                    <h3 class="interest-title">Sports</h3>
                    <div class="interest-content">
                        <i class="interest-logo fas fa-running"></i>
                        <p>
                            Détestant ne rien faire, j’ai toujours pratiqué au moins un sport. Au-delà de l’aspect
                            physique,
                            cela m’aide à me détacher de mon écran et de mon travail. Natation, escrime, VTT, escalade,
                            plongée sous-marine et parapente, j’ai fini par développer une passion pour les sports à
                            risque.
                            Ils m’ont appris à maitriser mon stress et à analyser chaque situation sans paniquer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <ul class="footer-logo-list">
                <li>
                    <a href="https://github.com/Paracetamol56" target="_blank"
                        class="footer-logo-icon fab fa-github"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/matheogaluba/" target="_blank"
                        class="footer-logo-icon fab fa-linkedin"></a>
                </li>
                <li>
                    <a href="mailto:matheo.galu56@gmail.com" target="_blank" class="footer-logo-icon fas fa-at"></a>
                </li>
                <li>
                    <a href="https://discordapp.com/users/609748578004500517/" target="_blank"
                        class="footer-logo-icon fab fa-discord"></a>
                </li>
            </ul>
            <div class="footer-author">
                <p>
                    Made with <span class="hearth fas fa-heart"></span> by Mathéo Galuba - Under Apache 2.0 <a
                        href="https://github.com/Paracetamol56/Portfolio/blob/master/LICENSE" target="_blank"
                        rel="nofollow">License</a>
                </p>
            </div>
            <div class="footer-policy">
                <p>
                    Check out the <a href="/privacy" rel="nofollow">privacy policy</a>
                </p>
            </div>
            <div class="footer-credits">
                <p>
                    Icons from <a href="https://fontawesome.com/" target="_blank" rel="nofollow">Font Awesome</a>.
                    Web fonts from <a href="https://fonts.google.com/" target="_blank" rel="nofollow">Google</a>.
                </p>
            </div>
        </div>
        <div class="bottom-gradient">
        </div>
    </footer>

    <!-- Loader -->
    <div id="loader" class="loader-wrapper">
        <svg id="Calque_2" class="loader-logo" data-name="Calque 2" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1080 900">
            <polygon class="cls-1"
                points="346.07 287.66 512.15 0 1080 0 1080 180 616.07 180 450 467.66 346.07 287.66" />
            <polygon class="cls-1" points="450 647.56 180 180 0 180 180 540 346.07 827.65 450 647.56" />
            <polygon class="cls-1"
                points="1080 269.9 1080 900 630 900 720 720 900 720 900 449.9 771.91 450 875.86 269.95 1080 269.9" />
            <polygon class="cls-2" points="667.98 270 346.07 827.65 387.85 900 512.1 900 875.86 269.95 667.98 270" />
            <polygon class="cls-2" points="0 900 180 900 180 540 0 180 0 900" />
        </svg>
        <div class="loader-animation">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <script>
            $(window).on('load', function () {
                $('.loader-wrapper').fadeOut(500);
                $('body').removeClass('loading');
            });
        </script>
    </div>

    <!-- Scripts -->
    <!-- Header animation -->
    <script type="module" src="js/header.js"></script>
    <!-- Fader animation -->
    <script type="module" src="js/fader.js"></script>
    <!-- Translator -->
    <!-- <script type="module" src="js/translator.js"></script> -->
</body>

</html>