
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

section {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

/* tooltip styles */

#tooltip {
  position:absolute;
  z-index:9999;
  color:#fff;
  font-size:10px;
  width:180px;   
}

#tooltip .tipHeader {
  height:8px;
  background:url(images/tipHeader.gif) no-repeat;
}

/* IE hack */
*html #tooltip .tipHeader {margin-bottom:-6px;}

#tooltip .tipBody {
  background-color:#000;
  padding:5px 5px 5px 15px;
}

#tooltip .tipFooter {
  height:8px;
  background:url(images/tipFooter.gif) no-repeat;
}

/* Global classes */

.container {
  width: 75%;
  margin: auto;
}

.fillTextWithgradient {
  background: linear-gradient(90deg, #b4e2f9 0%, #5f78ef 25%, #8251e9 50%, #ad56e3 75%, #df7bf5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  color: #8251e9;

  /* Center the button */
  display: block;
  margin: 20px auto;
  width: fit-content;

  overflow: hidden;
  padding: 10px;
  box-shadow: 0px 0px 20px #5f77ef9a;
  transition: transform 1s, opacity 1s;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #2c1b4f 70%, #111416 90%);
  background-position: 100%;
  background-size: 400%;
  border: #5f78ef 2px solid;

  transition: all .5s var(--easing);
}

.cta-button:hover {
  color: #5f78ef;
  background-position: 0%;
  transition: all .5s var(--easing);
}

.fade-in {
  opacity: 0;
  transition: all .5s var(--easing);
}

.fade-in.appear {
  opacity: 1;
  transition: all .5s var(--easing);
}

/* Custom scrollbar */

/* (doesn't work on Firefox) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
  box-shadow: inset 0 0 2px #5f78ef;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #8251e9;
  border-radius: 5px;
} 

/* Navbar section */

nav {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  z-index: 4;
  position: fixed;

  color: #ffffff;
}

nav .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 75%;
}

nav .nav-container .nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav .nav-container .nav-logo .nav-logo-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

nav .nav-container .nav-logo .nav-logo-link .nav-logo-link-bold {
  font-weight: 700;
}

nav .nav-container .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 400px;
}

nav .nav-container .nav-menu .nav-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav .nav-container .nav-menu .nav-menu-list-element {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav .nav-container .nav-menu .nav-menu-list-element a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1rem;
  margin: auto 0;
  transform: translateY(0);
  transition: all var(--easing) 0.5s;
}

nav .nav-container .nav-menu .nav-menu-list-element a.active {
  color: #8251e9;
}

nav .nav-container .nav-menu .nav-menu-list-element div {
  height: 2px;
  width: 100%;
  background-color: #8251e9;
  margin: 0;
  padding: 0;
  transform:scaleX(0%);
  transition: all var(--easing) 0.5s;
}

nav .nav-container .nav-menu .nav-menu-list-element:hover > a {
  color: #8251e9;
  transition: all var(--easing) 0.2s;
}

nav .nav-container .nav-menu .nav-menu-list-element:hover > div {
  transform: scaleX(100%);
  transition: all var(--easing) 0.2s;
}

/* Header section */

header {
  background-image: radial-gradient(circle, rgba(44,27,79,1) 0%, #111416 100%);
  height: 100vh;
  max-height: 1600px;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .background {
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

@keyframes bummer {
  100% {transform: scale(1,1);}
}

header .bgCodeBox {
  width: 80px;
  height: 80px;
  z-index: 1;
  background-color: transparent;
  padding: 2px;
  margin: 0;
  text-align: center;
  cursor: default;
  user-select: none;

  font-family: 'Fira Code', monospace;
  font-size: 16px;
  line-height: 20px;
  color: var(--bgCodeBox-color);

  transform: scale(0, 0);
  animation-name: bummer;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  transition: all 0.75s var(--easing);
}

header .bgCodeBox:hover {
  color: var(--bgCodeBox-hover-color);

  transition: all 0s;
}

header .titles {
  width: fit-content;
  z-index: 2;
  margin: auto;
  text-align: center;
  pointer-events: none;

  transform: translateY(-50%),
  translateZ(200px);

  font-family: 'Roboto mono', monospace;
  font-weight: 300;
}

header h1 {
  font-size: 4rem;
  margin: 0;
}

header h2 {
  font-size: 2.5rem;
  margin-top: 10px;
  margin-bottom: 0;
}

header .downButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  cursor: default;
  transition: all 0.1s ease-in;
}

header .downButton:hover {
  transform: translate(-50%, -5px);
  transition: all 0.1s ease-in;
}

header .downButton a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.5s var(--easing);
}

/* Sections */

section {
  width: 100%;
  position: relative;
  z-index: 3;
  background-color: #000000;
  margin-top: 50px;
  overflow-x: hidden;
}

section .section-title h2 {
  font-family: 'Roboto' sans-serif;
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
  margin: 0;
}

section .section-title h2 .section-titel-number {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  font-weight: 700;
  color: #b4e2f9;
}

section .section-title hr {
  width: 100%;
  height: 2px;
  border: transparent;
  background-image: linear-gradient(90deg, #b4e2f9 0%, #5f78ef 25%, #8251e9 50%, #ad56e3 75%, #df7bf5 100%);
  margin: 0;
  padding: 0;
}

/* Carrousel */

.carroussel {
  height: 450px;
  width: 100%;
  margin: 40px 0;
  padding: 0;
  position: relative;
}

.carroussel li.carroussel-card {
  list-style-type: none;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 100%;
  padding: 0;
  overflow: hidden;
  box-shadow: 0px 0px 20px #5f77ef9a;
  transition: transform 1s, opacity 1s;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #2c1b4f 0%, #111416 100%);
  opacity: .25;
  border: #5f78ef 2px solid;
  transition: all 1s var(--easing);
}

.carroussel li.carroussel-card.prev {
  transform: translateX(-500px) scale(.85);
  cursor: pointer;
  z-index: 1;
  transition: all 1s var(--easing);
}

.carroussel li.carroussel-card.act {
  opacity: 1;
  transform: translateX(0px) scale(1);
  z-index: 2;
  transition: all 1s var(--easing);
}

.carroussel li.carroussel-card.next {
  transform: translateX(500px) scale(.85);
  cursor: pointer;
  z-index: 1;
  transition: all 1s var(--easing);
}

.carroussel li.carroussel-card.hide {
  opacity: 0;
  transform: translateX(0px) scale(.70);
  z-index: 0;
  transition: all 1s var(--easing);
}

.carroussel .carroussel-card-thumbnail {
  width: 100%;
}

.carroussel .carroussel-card-content {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.carroussel .carroussel-card-header-number {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  font-weight: 700;
  color: #b4e2f9;
  margin: 0;
  margin-bottom: 10px;
}

.carroussel .carroussel-card-header {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 10px 0;
}

.carroussel .carroussel-card-button {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: auto;
  text-decoration: none;
  cursor: pointer;
  align-self: flex-end;
  transition: all 0.5s var(--easing);
}

.carroussel .carroussel-card-button:hover {
  color: #8251e9;
  transition: all 0.5s var(--easing);
}

/* About page */

.school-table {
  width: 100%;
  margin: 20px 0px 0px 0px;
  padding: 0;
  border-collapse: collapse;
}

.school-table-tr {
  box-shadow: 0px 0px 20px #5f77ef9a;
  border: #5f78ef 2px solid;
  border-radius: 5px;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  background-image: linear-gradient(135deg, #2c1b4f 70%, #111416 100%);

  background-position: 100%;
  background-size: 400%;
  transition: all 1s var(--easing);
}

.school-table-tr:hover {
  background-position: 0%;
  transition: all 1s var(--easing);
}

.school-table-years,
.school-table-description {
  color: #ffffff;
  padding: 10px;
  border: none;
}

.school-table-years {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.1rem;
  color: #b4e2f9;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.school-table-years p {
  margin: 0;
}

.school-table-years span {
  position: absolute;
  left: auto;
  top: 35px;
  bottom: 35px;
  right: auto;
  width: 2px;
  background-color: #b4e2f9;
}

.school-table-description {
  margin-left: 60px;
}

.school-table-description ul:first-child,
.school-table-description p:first-child,
.school-table-description h3:first-child,
.school-table-description h4:first-child {
  margin-top: 0;
}

.school-table-description ul:last-child,
.school-table-description p:last-child,
.school-table-description h3:last-child,
.school-table-description h4:last-child {
  margin-bottom: 0;
}

/* Footer */

footer {
  width: 100%;
  padding: 50px 0 50px 0;
  background-color: #111416;
}

footer .footer-logo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin: 20px auto;
  padding: 0;
  list-style: none;
}

footer .footer-logo-icon {
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.25s var(--easing);
}

footer .footer-logo-icon:hover {
  color: #8251e9;
  transition: all 0.25s var(--easing);
}

footer .footer-author {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin: 20px 0;
  padding: 0;
}

footer .footer-author span.hearth {
  color: #ffffff;
  transition: all 0.25s var(--easing);
}

footer .footer-author span.hearth:hover {
  color: #8251e9;
  transition: all 0.25s var(--easing);
}

footer .footer-credits {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin: 20px 0;
  padding: 0;
}

footer .footer-credits a {
  color: #ffffff;
  text-decoration: dotted underline;
  transition: all 0.25s var(--easing);
}

footer .footer-credits a:hover {
  color: #8251e9;
  text-decoration: solid underline;
  transition: all 0.25s var(--easing);
}

/* Github dashboard */

.repos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto;
  width: fit-content;
}

.repo-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 250px;
  width: 300px;
  padding: 10px;
  margin: 15px;
  border: #000000 2px solid;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  background-image: linear-gradient(135deg, #2c1b4f 0%, #111416 100%);
  transition: all var(--easing) 0.5s;
}

.repo-card:hover {
  border: #5f78ef 2px solid;
  box-shadow: 0px 0px 20px #5f77ef9a;
  transition: all var(--easing) 0.1s;
}

.repo-card .repo-card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.repo-card .repo-card-header i {
  color: #b4e2f9;
  margin-left: 5px;
  font-size: 1rem;
}

.repo-card .repo-card-header h2 {
  color: #b4e2f9;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
}

.repo-card hr {
  width: 100%;
  height: 2px;
  border: transparent;
  background-color: #b4e2f9;
}

.repo-card .repo-card-content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.repo-card .repo-card-language-ratio {
  background-color: #333333;
  height: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
