@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

body.loading {
  overflow: hidden;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

h4 {
  color: #ffffff;
}

h5 {
  color: #ffffff;
}

h6 {
  color: #ffffff;
}

section {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  position: relative;
  z-index: 3;
  background-color: #000000;
  margin-top: 50px;
  overflow-x: hidden;
}

section .section-title h2 {
  font-family: 'Roboto' sans-serif;
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
  margin: 0;
}

section .section-title h2 .section-title-number {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  font-weight: 700;
  color: #b4e2f9;
}

section .section-title hr {
  width: 100%;
  height: 2px;
  border: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#b4e2f9), color-stop(25%, #5f78ef), color-stop(50%, #8251e9), color-stop(75%, #ad56e3), to(#df7bf5));
  background-image: linear-gradient(90deg, #b4e2f9 0%, #5f78ef 25%, #8251e9 50%, #ad56e3 75%, #df7bf5 100%);
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: 1400px) {
  .container {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
}

.fillTextWithgradient {
  background: -webkit-gradient(linear, left top, right top, from(#b4e2f9), color-stop(25%, #5f78ef), color-stop(50%, #8251e9), color-stop(75%, #ad56e3), to(#df7bf5)) !important;
  background: linear-gradient(90deg, #b4e2f9 0%, #5f78ef 25%, #8251e9 50%, #ad56e3 75%, #df7bf5 100%) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #2c1b4f 0%, #111416 100%) !important;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-wrapper .loader-logo {
  width: 100px;
  -webkit-filter: drop-shadow(0 0 5px #5f77ef9a);
          filter: drop-shadow(0 0 5px #5f77ef9a);
  -webkit-animation: 2s var(--easing) 0s normal forwards 1 loader-fade-in;
          animation: 2s var(--easing) 0s normal forwards 1 loader-fade-in;
}

.loader-wrapper .loader-logo .cls-1 {
  fill: #8251e9;
}

.loader-wrapper .loader-logo .cls-2 {
  fill: #5f3cab;
}

.loader-wrapper .loader-animation {
  width: 100px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: 2s var(--easing) 0s normal forwards 1 loader-fade-in;
          animation: 2s var(--easing) 0s normal forwards 1 loader-fade-in;
}

.loader-wrapper .loader-animation span {
  float: left;
  width: 8px;
  height: 8px;
  background: #8251e9;
  -webkit-filter: drop-shadow(0 0 5px #5f77ef9a);
          filter: drop-shadow(0 0 5px #5f77ef9a);
  border-radius: 50%;
}

.loader-wrapper .loader-animation span:nth-child(1) {
  -webkit-animation: dot-1 2s infinite;
          animation: dot-1 2s infinite;
}

.loader-wrapper .loader-animation span:nth-child(2) {
  -webkit-animation: dot-2 2s infinite;
          animation: dot-2 2s infinite;
}

.loader-wrapper .loader-animation span:nth-child(3) {
  -webkit-animation: dot-3 2s infinite;
          animation: dot-3 2s infinite;
}

.loader-wrapper .loader-animation span:nth-child(4) {
  -webkit-animation: dot-4 2s infinite;
          animation: dot-4 2s infinite;
}

.loader-wrapper .loader-animation span:nth-child(5) {
  -webkit-animation: dot-5 2s infinite;
          animation: dot-5 2s infinite;
}

@-webkit-keyframes dot-1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dot-1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes dot-2 {
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dot-2 {
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes dot-3 {
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dot-3 {
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes dot-4 {
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dot-4 {
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes dot-5 {
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dot-5 {
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes loader-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cta-button {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  color: #8251e9;
  display: block;
  margin: 20px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  padding: 10px;
  -webkit-box-shadow: 0 0 20px #5f77ef9a;
          box-shadow: 0 0 20px #5f77ef9a;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #2c1b4f 70%, #111416 90%);
  background-position: 100%;
  background-size: 400%;
  border: #5f78ef 2px solid;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.cta-button:hover {
  color: #5f78ef;
  background-position: 0%;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.fade-in {
  opacity: 0;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.fade-in.appear {
  opacity: 1;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

-webkit-scrollbar {
  width: 10px;
}

-webkit-scrollbar-track {
  background-color: #000000;
  -webkit-box-shadow: inset 0 0 2px #5f78ef;
          box-shadow: inset 0 0 2px #5f78ef;
  border-radius: 5px;
}

-webkit-scrollbar-thumb {
  background: #8251e9;
  border-radius: 5px;
}

nav {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  z-index: 4;
  position: fixed;
  color: #ffffff;
}

nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav .nav-container .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav .nav-container .nav-logo .nav-logo-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

nav .nav-container .nav-logo .nav-logo-link .nav-logo-svg {
  height: 20px;
  margin-right: 10px;
}

nav .nav-container .nav-logo .nav-logo-link .nav-logo-svg .cls-1 {
  fill: #ffffff;
  -webkit-transition: all 0.2s var(--easing);
  transition: all 0.2s var(--easing);
}

nav .nav-container .nav-logo .nav-logo-link .nav-logo-svg .cls-2 {
  fill: #b4b4b4;
  -webkit-transition: all 0.2s var(--easing);
  transition: all 0.2s var(--easing);
}

nav .nav-container .nav-logo .nav-logo-link .nav-logo-svg .cls-1:hover,
nav .nav-container .nav-logo .nav-logo-link .nav-logo-svg .cls-2:hover {
  fill: #8251e9;
  -webkit-transition: all 0.2s var(--easing);
  transition: all 0.2s var(--easing);
}

nav .nav-container .nav-logo .nav-logo-link .nav-logo-link-bold {
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  nav .nav-container .nav-logo .nav-logo-link .nav-logo-link-thin {
    display: none;
  }
}

nav .nav-container .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 45%;
  min-width: 375px;
}

nav .nav-container .nav-menu ul.nav-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav .nav-container .nav-menu ul.nav-menu-list li.nav-menu-list-element {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

nav .nav-container .nav-menu ul.nav-menu-list li.nav-menu-list-element a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  height: 100%;
  -webkit-transition: all var(--easing) 0.5s;
  transition: all var(--easing) 0.5s;
}

nav .nav-container .nav-menu ul.nav-menu-list li.nav-menu-list-element a.active > span {
  color: #8251e9;
}

nav .nav-container .nav-menu ul.nav-menu-list li.nav-menu-list-element a span {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  -webkit-transition: all var(--easing) 0.5s;
  transition: all var(--easing) 0.5s;
}

nav .nav-container .nav-menu ul.nav-menu-list li.nav-menu-list-element a div {
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #8251e9;
  margin: 0;
  padding: 0;
  -webkit-transform: scaleX(0%);
          transform: scaleX(0%);
  -webkit-transition: all var(--easing) 0.5s;
  transition: all var(--easing) 0.5s;
}

nav .nav-container .nav-menu ul.nav-menu-list li.nav-menu-list-element a:hover > a {
  color: #8251e9;
  -webkit-transition: all var(--easing) 0.2s;
  transition: all var(--easing) 0.2s;
}

nav .nav-container .nav-menu ul.nav-menu-list li.nav-menu-list-element a:hover > div {
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
  -webkit-transition: all var(--easing) 0.2s;
  transition: all var(--easing) 0.2s;
}

nav .nav-container .nav-menu input.nav-menu-toggle {
  display: none;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
  white-space: nowrap;
}

nav .nav-container .nav-menu input.nav-menu-toggle + label {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

nav .nav-container .nav-menu input.nav-menu-toggle + label svg.nav-menu-toggle-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  stroke-width: 6;
  stroke: #ffffff;
}

nav .nav-container .nav-menu input.nav-menu-toggle + label svg.nav-menu-toggle-icon .nav-menu-toggle-icon-group {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.25s var(--easing);
  transition: -webkit-transform 0.25s var(--easing);
  transition: transform 0.25s var(--easing);
  transition: transform 0.25s var(--easing), -webkit-transform 0.25s var(--easing);
}

nav .nav-container .nav-menu input.nav-menu-toggle + label svg.nav-menu-toggle-icon .nav-menu-toggle-icon-group .nav-menu-toggle-icon-close {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

nav .nav-container .nav-menu input.nav-menu-toggle:checked + label .nav-menu-toggle-icon .nav-menu-toggle-icon-group {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.25s var(--easing);
  transition: -webkit-transform 0.25s var(--easing);
  transition: transform 0.25s var(--easing);
  transition: transform 0.25s var(--easing), -webkit-transform 0.25s var(--easing);
}

@media only screen and (max-width: 1024px) {
  nav .nav-menu {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    min-width: 0 !important;
  }
  nav .nav-menu ul.nav-menu-list {
    margin: 0;
    background-color: #000000;
    position: absolute;
    right: -100%;
    top: 50px;
    width: 40% !important;
    min-width: 200px !important;
    height: calc(100vh - 50px) !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding: 0;
    -webkit-transition: all 0.25s var(--easing);
    transition: all 0.25s var(--easing);
  }
  nav .nav-menu ul.nav-menu-list.nav-active {
    right: 0;
  }
  nav .nav-menu ul.nav-menu-list li.nav-menu-list-element {
    height: 50px !important;
    width: 100%;
  }
  nav .nav-menu ul.nav-menu-list li.nav-menu-list-element a {
    height: 100%;
    width: 100%;
  }
  nav .nav-menu ul.nav-menu-list li.nav-menu-list-element a span {
    font-size: 1.5rem;
  }
  nav .nav-menu ul.nav-menu-list li.nav-menu-list-element a div {
    display: none;
  }
  nav .nav-menu input.nav-menu-toggle + label {
    display: block !important;
  }
}

header {
  background-image: radial-gradient(circle, #2c1b4f 0%, #111416 100%) !important;
  height: 100vh;
  max-height: 1600px;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .background {
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[25];
      grid-template-columns: repeat(25, 1fr);
  -ms-grid-rows: (1fr)[20];
      grid-template-rows: repeat(20, 1fr);
}

header .bgCodeBox {
  width: 80px;
  height: 80px;
  z-index: 1;
  background-color: transparent;
  padding: 2px;
  margin: 0;
  text-align: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  line-height: 20px;
  color: var(--bgCodeBox-color) !important;
  -webkit-animation-name: bummer;
          animation-name: bummer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 0.75s var(--easing);
  transition: all 0.75s var(--easing);
}

header .bgCodeBox:hover {
  color: var(--bgCodeBox-hover-color) !important;
  -webkit-transition: all 0s;
  transition: all 0s;
}

header .titles {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
  margin: auto;
  text-align: center;
  pointer-events: none;
  -webkit-transform: translateY(-50%), translateZ(200px);
          transform: translateY(-50%), translateZ(200px);
  font-family: 'Roboto mono', monospace;
  font-weight: 300;
}

header h1 {
  font-size: 4rem;
  margin: 0;
}

header h2 {
  font-size: 2.5rem;
  margin-top: 10px;
  margin-bottom: 0;
}

header .downButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
  cursor: default;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

header .downButton:hover {
  -webkit-transform: translate(-50%, -5px);
          transform: translate(-50%, -5px);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

header .downButton a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.carroussel {
  height: 450px;
  width: 100%;
  margin: 40px 0;
  padding: 0;
  position: relative;
}

.carroussel li.carroussel-card {
  list-style-type: none;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 100%;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px #5f77ef9a;
          box-shadow: 0 0 20px #5f77ef9a;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #2c1b4f 0%, #111416 100%);
  opacity: .25;
  border: #5f78ef 2px solid;
  -webkit-transition: all 1s var(--easing);
  transition: all 1s var(--easing);
}

.carroussel li.carroussel-card.prev {
  -webkit-transform: translateX(-500px) scale(0.85);
          transform: translateX(-500px) scale(0.85);
  cursor: pointer;
  z-index: 1;
  -webkit-transition: all 1s var(--easing);
  transition: all 1s var(--easing);
}

.carroussel li.carroussel-card.act {
  opacity: 1;
  -webkit-transform: translateX(0) scale(1);
          transform: translateX(0) scale(1);
  z-index: 2;
  -webkit-transition: all 1s var(--easing);
  transition: all 1s var(--easing);
}

.carroussel li.carroussel-card.next {
  -webkit-transform: translateX(500px) scale(0.85);
          transform: translateX(500px) scale(0.85);
  cursor: pointer;
  z-index: 1;
  -webkit-transition: all 1s var(--easing);
  transition: all 1s var(--easing);
}

.carroussel li.carroussel-card.hide {
  opacity: 0;
  -webkit-transform: translateX(0) scale(0.7);
          transform: translateX(0) scale(0.7);
  z-index: 0;
  -webkit-transition: all 1s var(--easing);
  transition: all 1s var(--easing);
}

.carroussel .carroussel-card-thumbnail {
  width: 100%;
}

.carroussel .carroussel-card-content {
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.carroussel .carroussel-card-header-number {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  font-weight: 700;
  color: #b4e2f9;
  margin: 0;
  margin-bottom: 10px;
}

.carroussel .carroussel-card-header {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 10px 0;
}

.carroussel .carroussel-card-button {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: auto;
  text-decoration: none;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.carroussel .carroussel-card-button:hover {
  color: #8251e9;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.cv-and-school {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 1500px) {
  .cv-and-school {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cv-and-school .imagebutton {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.cv-and-school .imagebutton img {
  width: auto;
  height: 500px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.cv-and-school .imagebutton p {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font-family: 'fira code', monospace;
  color: #8251e9;
  font-size: 2rem;
  font-weight: 700;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.cv-and-school .imagebutton:hover img {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.cv-and-school .imagebutton:hover p {
  opacity: 1;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.cv-and-school .school-table {
  width: 100%;
  margin: 20px 0 0;
  padding: 0;
  border-collapse: collapse;
}

.cv-and-school .school-table-tr {
  -webkit-box-shadow: 0 0 20px #5f77ef9a;
          box-shadow: 0 0 20px #5f77ef9a;
  border: #5f78ef 2px solid;
  border-radius: 5px;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-image: linear-gradient(135deg, #2c1b4f 70%, #111416 100%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: all 1s var(--easing);
  transition: all 1s var(--easing);
}

.cv-and-school .school-table-tr:hover {
  background-position: 0%;
  -webkit-transition: all 1s var(--easing);
  transition: all 1s var(--easing);
}

.cv-and-school .school-table-years {
  padding: 10px;
  border: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.1rem;
  color: #b4e2f9;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cv-and-school .school-table-years p {
  margin: 0;
}

.cv-and-school .school-table-years span {
  position: absolute;
  left: auto;
  top: 35px;
  bottom: 35px;
  right: auto;
  width: 2px;
  background-color: #b4e2f9;
}

.cv-and-school .school-table-description {
  color: #ffffff;
  padding: 10px;
  border: none;
  margin-left: 70px;
}

.cv-and-school .school-table-description ul:first-child {
  margin-top: 0;
}

.cv-and-school .school-table-description ul:last-child {
  margin-bottom: 20px;
}

.cv-and-school .school-table-description p:first-child {
  margin-top: 0;
}

.cv-and-school .school-table-description p:last-child {
  margin-bottom: 20px;
}

.cv-and-school .school-table-description h3:first-child {
  margin-top: 0;
}

.cv-and-school .school-table-description h3:last-child {
  margin-bottom: 20px;
}

.cv-and-school .school-table-description h4:first-child {
  margin-top: 0;
}

.cv-and-school .school-table-description h4:last-child {
  margin-bottom: 20px;
}

.cv-and-school .school-link {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 10px;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.cv-and-school .school-link:hover {
  color: #8251e9;
  right: 10px;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.skill-header {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

.language-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.language {
  position: relative;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  -webkit-transition: all 1s var(--easing);
  transition: all 1s var(--easing);
}

.language:hover > .language-flag {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  opacity: .25;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.language .language-title {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.5rem;
  color: #b4e2f9;
  margin: 0;
  width: 100%;
  text-align: left;
  z-index: 2;
}

.language .language-separator {
  width: 100%;
  height: 2px;
  border: none;
  margin: 10px 0;
  z-index: 2;
}

.language .language-separator.french {
  background-image: -webkit-gradient(linear, left top, right top, from(#b4e2f9), to(#6a6ced));
  background-image: linear-gradient(90deg, #b4e2f9 0%, #6a6ced 100%);
}

.language .language-separator.english {
  background-image: -webkit-gradient(linear, left top, right top, from(#6a6ced), to(#9f54e5));
  background-image: linear-gradient(90deg, #6a6ced 0%, #9f54e5 100%);
}

.language .language-separator.german {
  background-image: -webkit-gradient(linear, left top, right top, from(#9f54e5), to(#df7bf5));
  background-image: linear-gradient(90deg, #9f54e5 0%, #df7bf5 100%);
}

.language .language-content {
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
  margin: 0;
  z-index: 2;
}

.languages-content-color {
  color: #8251e9;
}

@media only screen and (max-width: 768px) {
  .language-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .language {
    width: 100%;
    margin: 20px 0;
  }
}

.skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

.skill-element {
  width: 100%;
  max-width: 400px;
  height: 150px;
  margin: 15px;
  border: #5f78ef 2px solid;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px #5f77ef9a;
          box-shadow: 0 0 20px #5f77ef9a;
  background-image: linear-gradient(135deg, #2c1b4f 70%, #111416 100%);
  background-position: 100%;
  background-size: 400%;
  overflow-y: hidden;
  -webkit-transition: all 1s var(--easing);
  transition: all 1s var(--easing);
}

.skill-element:hover {
  background-position: 0%;
  -webkit-transition: all 1s var(--easing);
  transition: all 1s var(--easing);
}

.skill-element:hover > .skill-element-inside {
  -webkit-transform: translate(0, -85px);
          transform: translate(0, -85px);
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.skill-element:hover .skill-element-title {
  color: #b4e2f9;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.skill-element i.fas {
  font-size: 4rem;
  color: #b4e2f9;
  margin: 20px;
}

.skill-element .skill-element-title {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 15px;
}

.skill-element p {
  text-align: center;
  margin: 0 6px;
}

.skill-element-inside {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.technologies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

.technology {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technology img {
  width: 50px;
  height: 50px;
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.technology:hover > img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.technology p {
  display: none;
}

p.technology-name {
  color: #b4e2f9;
  font-size: 1.2rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  text-align: center;
}

.interests-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.interest {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.interest .interest-title {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 5px 0;
  color: #b4e2f9;
}

.interest .interest-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: justify;
}

.interest .interest-content .interest-logo {
  font-size: 3rem;
  color: #b4e2f9;
  width: 3rem;
  height: 3rem;
  margin-top: 16px;
  margin-right: 10px;
}

.project-row {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 30px 0;
  position: relative;
  background-image: linear-gradient(135deg, #2c1b4f 70%, #111416 100%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: all 1s var(--easing);
  transition: all 1s var(--easing);
  border-radius: 5px;
  border: #5f78ef 2px solid;
  -webkit-box-shadow: 0 0 20px #5f77ef9a;
          box-shadow: 0 0 20px #5f77ef9a;
  overflow: hidden;
}

.project-row:hover {
  background-position: 0%;
  -webkit-transition: all 1s var(--easing);
  transition: all 1s var(--easing);
}

@media only screen and (max-width: 1692px) {
  .project-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project-row .thumbnail {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  margin: 0;
  padding: 0;
}

.project-row .project-description {
  margin: 0 20px;
  width: calc(100% - 40px);
}

.project-row .project-description ul.project-description-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.project-row .project-description ul.project-description-list li {
  margin: 0;
  margin-left: 10px;
  padding: 5px 0;
  font-size: 1.2rem;
}

.project-row .project-description ul.project-description-list li svg {
  height: 1.5rem;
  fill: #ffffff;
}

.project-row .project-description ul.project-description-list li i,
.project-row .project-description ul.project-description-list li svg {
  width: 1.5rem;
  margin-right: 5px;
}

.project-row .project-link {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 10px;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.project-row .project-link:hover {
  color: #8251e9;
  right: 10px;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.info-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.info-container .project-info {
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 20px;
}

.info-container .project-info .project-info-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #2c1b4f;
  border-radius: 50%;
  -webkit-transition: all 0.25s var(--easing);
  transition: all 0.25s var(--easing);
  z-index: 4;
}

.info-container .project-info:hover > .project-info-background {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.25s var(--easing);
  transition: all 0.25s var(--easing);
}

.info-container .project-info h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.5rem;
  color: #b4e2f9;
  margin: 0;
  z-index: 5;
}

.info-container .project-info i {
  font-size: 3rem;
  color: #8251e9;
  margin: 10px;
  z-index: 5;
}

.info-container .project-info svg {
  height: 3rem;
  margin: 10px;
  z-index: 5;
}

.info-container .project-info svg .cls-1 {
  fill: #8251e9;
}

.info-container .project-info p {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #8251e9;
  margin: 0;
  z-index: 5;
}

.project-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-linklist {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto 0 auto;
  padding: 0;
  list-style: none;
}

.project-linklist .project-linklist-item {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-linklist .project-linklist-item a {
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  margin: 10px 0;
  padding: 0;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.project-linklist .project-linklist-item a:hover {
  color: #8251e9;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.project-linklist .project-linklist-item a i.project-linklist-logo {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 50px auto 100px auto;
}

.contact-form .contact-form-input {
  width: 100%;
  margin: 10px 0;
  height: 40px;
  border: none;
  border-bottom: #b4e2f9 2px solid;
  background-color: transparent;
  color: #b4e2f9;
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.contact-form .contact-form-input:focus {
  outline: none;
  border-bottom: #8251e9 2px solid;
  color: #8251e9;
  -webkit-transition: all 0.5s var(--easing);
  transition: all 0.5s var(--easing);
}

.contact-form textarea.contact-form-input {
  resize: vertical;
  overflow: auto;
  height: 180px;
}

.contact-form .contact-form-button {
  font-size: 1rem;
}

.contact-form .contact-form-state {
  font-size: 1rem;
  color: #b4e2f9;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  margin: 10px 0;
}

footer {
  width: 100%;
  padding: 50px 0;
  position: relative;
  background-color: #111416;
}

footer .footer-logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 20px auto;
  padding: 0;
  list-style: none;
}

footer .footer-logo-icon {
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.25s var(--easing);
  transition: all 0.25s var(--easing);
}

footer .footer-logo-icon:hover {
  text-decoration: none;
  color: #8251e9;
  -webkit-transition: all 0.25s var(--easing);
  transition: all 0.25s var(--easing);
}

footer .footer-author {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin: 20px 0;
  padding: 0;
}

footer .footer-author span.hearth {
  color: #ffffff;
  -webkit-transition: all 0.25s var(--easing);
  transition: all 0.25s var(--easing);
}

footer .footer-author span.hearth:hover {
  color: #8251e9;
  -webkit-transition: all 0.25s var(--easing);
  transition: all 0.25s var(--easing);
}

footer .footer-credits {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin: 20px 0;
  padding: 0;
}

footer a {
  color: #ffffff;
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
  -webkit-transition: all 0.25s var(--easing);
  transition: all 0.25s var(--easing);
}

footer a:hover {
  color: #8251e9;
  -webkit-text-decoration: solid underline;
          text-decoration: solid underline;
  -webkit-transition: all 0.25s var(--easing);
  transition: all 0.25s var(--easing);
}

footer .bottom-gradient {
  width: 100%;
  height: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#b4e2f9), color-stop(25%, #5f78ef), color-stop(50%, #8251e9), color-stop(75%, #ad56e3), to(#df7bf5));
  background-image: linear-gradient(90deg, #b4e2f9 0%, #5f78ef 25%, #8251e9 50%, #ad56e3 75%, #df7bf5 100%);
  position: absolute;
  bottom: 0;
}
/*# sourceMappingURL=styles.css.map */