@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--easing: cubic-bezier(0.5, 0, 0.5, 1);
}
*, *:before, *:after{
    box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #000000;
	margin: 0;
	padding: 0;
	&.loading {
		overflow: hidden;
	}
}
h1 {
	color: #ffffff;
}
h2 {
	color: #ffffff;
}
h3 {
	color: #ffffff;
}
h4 {
	color: #ffffff;
}
h5 {
	color: #ffffff;
}
h6 {
	color: #ffffff;
}
a {
	color: #ffffff;
	text-decoration: dotted underline;
	transition: all 0.25s var(--easing);
	&:hover {
		color: #8251e9;
		text-decoration: solid underline;
	}
}
section {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	position: relative;
	z-index: 3;
	background-color: #000000;
	margin-top: 50px;
	overflow-x: hidden;
	.section-title {
		h2 {
			font-family: 'Roboto' sans-serif;
			font-size: 2rem;
			font-weight: 700;
			white-space: nowrap;
			margin: 0;
			.section-title-number {
				font-family: 'Roboto Mono', monospace;
				font-size: 2rem;
				font-weight: 700;
				color: #b4e2f9;
			}
		}
		hr {
			width: 100%;
			height: 2px;
			border: transparent;
			background-image: linear-gradient(90deg, #b4e2f9 0%, #5f78ef 25%, #8251e9 50%, #ad56e3 75%, #df7bf5 100%);
			margin: 0;
			padding: 0;
		}
	}
}
.container {
	width: 60%;
	margin: auto;
	@media only screen and (max-width: 1400px) {
		width: 75%;
	}
	@media only screen and (max-width: 768px) {
		width: 100%;
		margin: 0;
		padding: 0 10px;
	}
}
.fillTextWithgradient {
	background: linear-gradient(90deg, #b4e2f9 0%, #5f78ef 25%, #8251e9 50%, #ad56e3 75%, #df7bf5 100%) !important;
	background-clip: text !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent;
}
.loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(circle, #2c1b4f 0%, #111416 100%) !important;
	z-index: 99;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.loader-logo {
		width: 100px;
		filter: drop-shadow(0 0 5px #5f77ef9a);
		animation: 2s var(--easing) 0s normal forwards 1 loader-fade-in;
		.cls-1 {
			fill: #8251e9;
		}
		.cls-2 {
			fill: #5f3cab;
		}
	}
	.loader-animation {
		width: 100px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		animation: 2s var(--easing) 0s normal forwards 1 loader-fade-in;
		span {
			float: left;
			width: 8px;
			height: 8px;
			background: #8251e9;
			filter: drop-shadow(0 0 5px #5f77ef9a);
			border-radius: 50%;
			&:nth-child(1) {
				animation: dot-1 2s infinite;
			}
			&:nth-child(2) {
				animation: dot-2 2s infinite;
			}
			&:nth-child(3) {
				animation: dot-3 2s infinite;
			}
			&:nth-child(4) {
				animation: dot-4 2s infinite;
			}
			&:nth-child(5) {
				animation: dot-5 2s infinite;
			}
		}
		@keyframes dot-1 {
			0% {
				transform: translateY(0);
			}
			10% {
				transform: translateY(-5px);
			}
			20% {
				transform: translateY(0);
			}
		}
		@keyframes dot-2 {
			10% {
				transform: translateY(0);
			}
			20% {
				transform: translateY(-5px);
			}
			30% {
				transform: translateY(0);
			}
		}
		@keyframes dot-3 {
			20% {
				transform: translateY(0);
			}
			30% {
				transform: translateY(-5px);
			}
			40% {
				transform: translateY(0);
			}
		}
		@keyframes dot-4 {
			30% {
				transform: translateY(0);
			}
			40% {
				transform: translateY(-5px);
			}
			50% {
				transform: translateY(0);
			}
		}
		@keyframes dot-5 {
			40% {
				transform: translateY(0);
			}
			50% {
				transform: translateY(-5px);
			}
			60% {
				transform: translateY(0);
			}
		}
	}
	@keyframes loader-fade-in {
		0% {
			opacity: 0;
		}
		100% {
			  opacity: 1;
		}
	}
}
.cta-button {
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	font-size: 1.5rem;
	text-decoration: none;
	color: #8251e9;
	display: block;
	margin: 20px auto;
	width: fit-content;
	overflow: hidden;
	padding: 10px;
	box-shadow: 0 0 20px #5f77ef9a;
	border-radius: 5px;
	background-image: linear-gradient(135deg, #2c1b4f 70%, #111416 90%);
	background-position: 100%;
	background-size: 400%;
	border: #5f78ef 2px solid;
	transition: all .5s var(--easing);
	&:hover {
		color: #5f78ef;
		background-position: 0%;
		transition: all .5s var(--easing);
	}
}
.fade-in {
	opacity: 0;
	transition: all .5s var(--easing);
}
.fade-in.appear {
	opacity: 1;
	transition: all .5s var(--easing);
}
-webkit-scrollbar {
	width: 10px;
}
-webkit-scrollbar-track {
	background-color: #000000;
	box-shadow: inset 0 0 2px #5f78ef;
	border-radius: 5px;
}
-webkit-scrollbar-thumb {
	background: #8251e9;
	border-radius: 5px;
}
nav {
	background-color: #000000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100%;
	z-index: 4;
	position: fixed;
	color: #ffffff;
	.nav-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		.nav-logo {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			height: 100%;
			.nav-logo-link {
				display: block;
				color: #ffffff;
				text-decoration: none;
				font-size: 1.2rem;
				font-family: 'Roboto Mono', monospace;
				font-weight: 200;
				letter-spacing: 0.1rem;
				.nav-logo-svg {
					height: 20px;
					margin-right: 10px;
					.cls-1 {
						fill: #ffffff;
						transition: all .2s var(--easing);
					}
					.cls-2 {
						fill: #b4b4b4;
						transition: all .2s var(--easing);
					}
					.cls-1:hover,
					.cls-2:hover {
						fill: #8251e9;
						transition: all .2s var(--easing);
					}
				}
				.nav-logo-link-bold {
					font-weight: 700;
				}
			}
			@media only screen and (max-width: 768px) {
				.nav-logo-link .nav-logo-link-thin {
					display: none;
				}
			}
		}
		.nav-menu {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 28%;
			min-width: 375px;
			ul.nav-menu-list {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin: 0;
				padding: 0;
				height: 100%;
				width: 100%;
				list-style: none;
				li.nav-menu-list-element {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin: 0;
					padding: 0;
					a {
						position: relative;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						margin: 0;
						padding: 0;
						text-decoration: none;
						height: 100%;
						transition: all var(--easing) 0.5s;
						&.active > span{
							color: #8251e9;
						}
						span {
							text-align: center;
							font-family: 'Roboto Mono', monospace;
							font-weight: 500;
							font-size: 1rem;
							color: #ffffff;
							transition: all var(--easing) 0.5s;
						}
						div {
							height: 2px;
							width: 100%;
							position: absolute;
							bottom: 0;
							background-color: #8251e9;
							margin: 0;
							padding: 0;
							transform: scaleX(0%);
							transition: all var(--easing) 0.5s;
						}
						&:hover {
							>a {
								color: #8251e9;
								transition: all var(--easing) 0.2s;
							}
							>div {
								transform: scaleX(100%);
								transition: all var(--easing) 0.2s;
							}
						}
					}
				}
			}
			input.nav-menu-toggle {
				display: none;
				height: 1px; 
				width: 1px;
				overflow: hidden;
				clip: rect(1px, 1px, 1px, 1px);
				opacity: 0;
				white-space: nowrap;
				+ label {
					display: none;
					width: 30px;
					height: 30px;
					cursor: pointer;
					svg.nav-menu-toggle-icon {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 100%;
						stroke-width: 6;
						stroke: #ffffff;
						.nav-menu-toggle-icon-group {
							transform: translateX(0%);
							transition: transform 0.25s var(--easing);
							.nav-menu-toggle-icon-close {
								transform: translateX(100%);
							}
						}
					}
				}
				&:checked {
					+ label {
						.nav-menu-toggle-icon {
							.nav-menu-toggle-icon-group {
								transform: translateX(-100%);
								transition: transform 0.25s var(--easing);
							}
						}
					}
				}
			}
		}
	}
	@media only screen and (max-width: 1024px) {
		.nav-menu {
			width: fit-content !important;
			min-width: 0 !important;
			ul.nav-menu-list {
				margin: 0;
				background-color: #000000;
				position: absolute;
				right: -100%;
				top: 50px;
				width: 40% !important;
				min-width: 200px !important;
				height: calc(100vh - 50px) !important;
				flex-direction: column !important;
				justify-content: flex-start !important;
				align-items: center !important;
				padding: 0;
				transition: all 0.25s var(--easing);
				&.nav-active {
					right: 0;
				}
				li.nav-menu-list-element {
					height: 50px !important;
					width: 100%;
					a {
						height: 100%;
						width: 100%;
						span {
							font-size: 1.5rem;
						}
						div {
							display: none;
						}
					}
				}
			}
			input.nav-menu-toggle {
				+ label {
					display: block !important;
				}
			}
		}
	}
}
header {
	background-image: radial-gradient(circle, #2c1b4f 0%, #111416 100%) !important;
	height: 100vh;
	max-height: 1600px;
	width: 100%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	.background {
		height: 100%;
		width: 100%;
		z-index: 0;
		overflow: hidden;
		position: absolute;
		display: grid;
		grid-template-columns: repeat(25, 1fr);
		grid-template-rows: repeat(20, 1fr);
	}
	.bgCodeBox {
		width: 80px;
		height: 80px;
		z-index: 1;
		background-color: transparent;
		padding: 2px;
		margin: 0;
		text-align: center;
		cursor: default;
		user-select: none;
		font-family: 'Fira Code', monospace;
		font-size: 16px;
		line-height: 20px;
		color: var(--bgCodeBox-color) !important;
		animation-name: bummer;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		transition: all 0.75s var(--easing);
		&:hover {
			color: var(--bgCodeBox-hover-color) !important;
			transition: all 0s;
		}
	}
	.titles {
		width: fit-content;
		z-index: 2;
		margin: auto;
		text-align: center;
		pointer-events: none;
		transform: translateY(-50%), translateZ(200px);
		font-family: 'Roboto mono', monospace;
		font-weight: 300;
	}
	h1 {
		font-size: 4rem;
		margin: 0;
	}
	h2 {
		font-size: 2.5rem;
		margin-top: 10px;
		margin-bottom: 0;
	}
	.downButton {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%, 0);
		text-align: center;
		cursor: default;
		transition: all 0.1s ease-in;
		&:hover {
			transform: translate(-50%, -5px);
			transition: all 0.1s ease-in;
		}
		a {
			text-decoration: none;
			font-family: 'Roboto', sans-serif;
			color: #ffffff;
			font-size: 1rem;
			font-weight: 500;
			transition: all 0.5s var(--easing);
		}
	}
}
.carroussel {
	height: 450px;
	width: 100%;
	margin: 40px 0;
	padding: 0;
	position: relative;
	li.carroussel-card {
		list-style-type: none;
		position: absolute;
		left: 50%;
		margin-left: -200px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 400px;
		height: 100%;
		padding: 0;
		overflow: hidden;
		box-shadow: 0 0 20px #5f77ef9a;
		border-radius: 5px;
		background-image: linear-gradient(135deg, #2c1b4f 70%, #111416 100%);
		background-position: 100%;
		background-size: 400%;
		opacity: .25;
		border: #5f78ef 2px solid;
		transition: all 1s var(--easing);
		&:hover {
			background-position: 0%;
			transition: all 1s var(--easing);
		}
		&.prev {
			transform: translateX(-500px) scale(.85);
			cursor: pointer;
			z-index: 1;
			transition: all 1s var(--easing);
		}
		&.act {
			opacity: 1;
			transform: translateX(0) scale(1);
			z-index: 2;
			transition: all 1s var(--easing);
		}
		&.next {
			transform: translateX(500px) scale(.85);
			cursor: pointer;
			z-index: 1;
			transition: all 1s var(--easing);
		}
		&.hide {
			opacity: 0;
			transform: translateX(0) scale(.70);
			z-index: 0;
			transition: all 1s var(--easing);
		}
		.carroussel-card-thumbnail {
			width: 100%;
		}
		.carroussel-card-content {
			height: 100%;
			width: 100%;
			padding: 10px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			text-align: left;
			.carroussel-card-header-number {
				font-family: 'Roboto Mono', monospace;
				font-size: 1.5rem;
				font-weight: 700;
				color: #b4e2f9;
				margin: 0;
				margin-bottom: 10px;
			}
			.carroussel-card-header {
				font-family: 'Roboto Mono', monospace;
				font-weight: 500;
				font-size: 1.5rem;
				margin: 10px 0;
			}
			.carroussel-card-button {
				font-family: 'Roboto Mono', monospace;
				font-weight: 500;
				color: #ffffff;
				text-decoration: none;
				cursor: pointer;
				position: absolute;
				right: 15px;
				bottom: 10px;
				transition: all 0.5s var(--easing);
				&:hover {
					color: #8251e9;
					right: 10px;
					transition: all 0.5s var(--easing);
				}
			}
		}
	}
}
.cv-and-school {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	@media only screen and (max-width: 1500px) {
		flex-direction: column;
		align-items: center;
	}
	.imagebutton {
		width: fit-content;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 30px 0;
		padding: 20px;
		position: relative;
		cursor: pointer;
		img {
			width: auto;
			height: 500px;
			margin: 0;
			padding: 0;
			border-radius: 5px;
			filter: blur(0px);
			transition: all 0.5s var(--easing);
		}
		p {
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
			padding: 0;
			text-decoration: none;
			text-align: center;
			font-family: 'fira code', monospace;
			color: #8251e9;
			font-size: 2rem;
			font-weight: 700;
			transition: all 0.5s var(--easing);
		}
		&:hover {
			img {
				filter: blur(3px);
				transition: all 0.5s var(--easing);
			}
			p {
				opacity: 1;
				transition: all 0.5s var(--easing);
			}
		}
	}
	.school-table {
		width: 100%;
		margin: 20px 0 0;
		padding: 0;
		border-collapse: collapse;
	}
	.school-table-tr {
		box-shadow: 0 0 20px #5f77ef9a;
		border: #5f78ef 2px solid;
		border-radius: 5px;
		margin: 30px 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		background-image: linear-gradient(135deg, #2c1b4f 70%, #111416 100%);
		background-position: 100%;
		background-size: 400%;
		transition: all 1s var(--easing);
		&:hover {
			background-position: 0%;
			transition: all 1s var(--easing);
		}
	}
	.school-table-years {
		padding: 10px;
		border: none;
		font-family: 'Roboto Mono', monospace;
		font-weight: 500;
		font-size: 1.1rem;
		color: #b4e2f9;
		width: 50px;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		p {
			margin: 0;
		}
		span {
			position: absolute;
			left: auto;
			top: 35px;
			bottom: 35px;
			right: auto;
			width: 2px;
			background-color: #b4e2f9;
		}
	}
	.school-table-description {
		color: #ffffff;
		padding: 10px;
		border: none;
		margin-left: 70px;
		ul {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 20px;
			}
		}
		p {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 20px;
			}
		}
		h3 {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 20px;
			}
		}
		h4 {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 20px;
			}
		}
	}
	.school-link {
		font-family: 'Roboto Mono', monospace;
		font-weight: 500;
		color: #ffffff;
		text-decoration: none;
		cursor: pointer;
		position: absolute;
		right: 15px;
		bottom: 10px;
		transition: all 0.5s var(--easing);
		&:hover {
			color: #8251e9;
			right: 10px;
			transition: all 0.5s var(--easing);
		}
	}
}
.skill-header {
	font-weight: 700;
	font-size: 1.5rem;
	margin-top: 40px;
	margin-bottom: 20px;
}
.language-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
}
.language {
	position: relative;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	transition: all 1s var(--easing);
	&:hover {
		>.language-flag {
			filter: blur(2px);
			opacity: .25;
			transition: all 0.5s var(--easing);
		}
	}
	.language-title {
		font-family: 'Roboto Mono', monospace;
		font-weight: 500;
		font-size: 1.5rem;
		color: #b4e2f9;
		margin: 0;
		width: 100%;
		text-align: left;
		z-index: 2;
	}
	.language-separator {
		width: 100%;
		height: 2px;
		border: none;
		margin: 10px 0;
		z-index: 2;
	}
	.language-separator.french {
		background-image: linear-gradient(90deg, #b4e2f9 0%, #6a6ced 100%);
	}
	.language-separator.english {
		background-image: linear-gradient(90deg, #6a6ced 0%, #9f54e5 100%);
	}
	.language-separator.german {
		background-image: linear-gradient(90deg, #9f54e5 0%, #df7bf5 100%);
	}
	.language-content {
		font-size: 1.2rem;
		width: 100%;
		text-align: left;
		margin: 0;
		z-index: 2;
	}
}
.languages-content-color {
	color: #8251e9;
}
@media only screen and (max-width: 768px) {
	.language-list {
		flex-direction: column;
	}
	.language {
		width: 100%;
		margin: 20px 0;
	}
}
.skill-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px 0;
}
.skill-element {
	width: 100%;
	max-width: 400px;
	height: 150px;
	margin: 15px;
	border: #5f78ef 2px solid;
	border-radius: 5px;
	box-shadow: 0 0 20px #5f77ef9a;
	background-image: linear-gradient(135deg, #2c1b4f 70%, #111416 100%);
	background-position: 100%;
	background-size: 400%;
	overflow-y: hidden;
	transition: all 1s var(--easing);
	&:hover {
		background-position: 0%;
		transition: all 1s var(--easing);
		>.skill-element-inside {
			transform: translate(0, -85px);
			transition: all .5s var(--easing);
		}
		.skill-element-title {
			color: #b4e2f9;
			transition: all .5s var(--easing);
		}
	}
	i.fas {
		font-size: 4rem;
		color: #b4e2f9;
		margin: 20px;
	}
	.skill-element-title {
		font-family: 'Roboto Mono', monospace;
		font-weight: 500;
		font-size: 1.2rem;
		text-align: center;
		color: #ffffff;
		margin-top: 0;
		margin-bottom: 15px;
	}
	p {
		text-align: center;
		margin: 0 6px;
	}
}
.skill-element-inside {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transform: translate(0, 0);
	transition: all .5s var(--easing);
}
.technologies-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px 0;
}
.technology {
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	img {
		width: 50px;
		height: 50px;
	}
	&:hover {
		>img {
			filter: grayscale(0%);
			transition: all 0.5s var(--easing);
		}
	}
	p {
		display: none;
	}
}
p.technology-name {
	color: #b4e2f9;
	font-size: 1.2rem;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	text-align: center;
}
.interests-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 20px 0;
}
.interest {
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: left;
	.interest-title {
		font-family: 'Roboto Mono', monospace;
		font-weight: 500;
		font-size: 1.5rem;
		margin: 5px 0;
		color: #b4e2f9;
	}
	.interest-content {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		text-align: justify;
		.interest-logo {
			font-size: 3rem;
			color: #b4e2f9;
			width: 3rem;
			height: 3rem;
			margin-top: 16px;
			margin-right: 10px;
		}
	}
}
.project-row {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 30px 0;
	position: relative;
	background-image: linear-gradient(135deg, #2c1b4f 70%, #111416 100%);
	background-position: 100%;
	background-size: 400%;
	transition: all 1s var(--easing);
	border-radius: 5px;
	border: #5f78ef 2px solid;
	box-shadow: 0 0 20px #5f77ef9a;
	overflow: hidden;
	&:hover {
		background-position: 0%;
		transition: all 1s var(--easing);
	}
	@media only screen and (max-width: 1692px) {
			flex-direction: column;
	}		
	.thumbnail {
		width: 100%;
		height: 100%;
		aspect-ratio: 16/9;
		margin: 0;
		padding: 0;
	}
	.project-description {
		margin: 0 20px;
		width: calc(100% - 40px);
		ul.project-description-list {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				margin: 0;
				margin-left: 10px;
				padding: 5px 0;
				font-size: 1.2rem;
				svg {
					height: 1.5rem;
					fill: #ffffff;
				}
				i,
				svg {
					width: 1.5rem;
					margin-right: 5px;
				}
			}
		}
	}
	.project-link {
		font-family: 'Roboto Mono', monospace;
		font-weight: 500;
		color: #ffffff;
		text-decoration: none;
		cursor: pointer;
		position: absolute;
		right: 15px;
		bottom: 10px;
		transition: all 0.5s var(--easing);
		&:hover {
			color: #8251e9;
			right: 10px;
			transition: all 0.5s var(--easing);
		}
	}
}
.info-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	.project-info {
		width: 160px;
		height: 160px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		margin: 20px;
		.project-info-background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: scale(0);
			background-color: #2c1b4f;
			border-radius: 50%;
			transition: all .25s var(--easing);
			z-index: 4;
		}
		&:hover > .project-info-background {
			transform: scale(1);
			transition: all .25s var(--easing);
		}
		h3 {
			font-family: 'Roboto Mono', monospace;
			font-weight: 500;
			font-size: 1.5rem;
			color: #b4e2f9;
			margin: 0;
			z-index: 5;
		}
		i {
			font-size: 3rem;
			color: #8251e9;
			margin: 10px;
			z-index: 5;
		}
		svg {
			height: 3rem;
			margin: 10px;
			z-index: 5;
			fill: #8251e9;
		} 
		p {
			font-family: 'Roboto Mono', monospace;
			font-weight: 500;
			font-size: 1.2rem;
			letter-spacing: 0.1rem;
			color: #8251e9;
			margin: 0;
			z-index: 5;
		}
	}
}
section#image {
	height: 950px;
	overflow: hidden;
	.project-image {
		width: 100%;
	}
}
.project-linklist {
	width: fit-content;
	margin: 40px auto 0 auto;
	padding: 0;
	list-style: none;
	.project-linklist-item {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		p,
		a {
			color: #ffffff;
			font-family: 'Roboto Mono', monospace;
			font-weight: 500;
			font-size: 1.2rem;
			letter-spacing: 0.1rem;
			text-decoration: none;
			margin: 10px 0;
			padding: 0;
		}
		a {
			transition: all .5s var(--easing);
			&:hover {
				color: #8251e9;
				transition: all .5s var(--easing);
			}
		}
		i.project-linklist-logo {
			font-size: 2rem;
			margin: 0;
			padding: 0;
			margin-right: 10px;
		}
	}
}
.project-navigation-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.project-navigation-link {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin: 0;
		color: #ffffff;
		text-decoration: none;
		transition: all .5s var(--easing);
		i {
			font-size: 1.5rem;
			margin: 10px;
			padding: 0;
		}
		p {
			font-family: 'Roboto Mono', monospace;
			font-weight: 500;
			font-size: 1.2rem;
			letter-spacing: 0.1rem;
			margin: 10px 0;
			padding: 0;
		}
		&.prev:hover {
			color: #8251e9;
			transform: translateX(-5px);
			cursor: pointer;
		}
		&.next:hover {
			color: #8251e9;
			transform: translateX(5px);
			cursor: pointer;
		}
		&.disabled {
			color: #ffffff42;
			cursor: default;
			transform: translateX(0);
		}
	}
}
.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 600px;
	margin: 50px auto 100px auto;
	.contact-form-input {
		width: 100%;
		margin: 10px 0;
		height: 40px;
		border: none;
		border-bottom: #b4e2f9 2px solid;
		background-color: transparent;
		color: #b4e2f9;
		font-size: 1rem;
		font-family: 'Roboto Mono', monospace;
		font-weight: 500;
		transition: all 0.5s var(--easing);
		&:focus {
			outline: none;
			border-bottom: #8251e9 2px solid;
			color: #8251e9;
			transition: all 0.5s var(--easing);
		}
	}
	textarea.contact-form-input {
		resize: vertical;
		overflow: auto;
		height: 180px;
	}
	.contact-form-button {
		font-size: 1rem;
	}
	.contact-form-state {
		font-size: 1rem;
		color: #b4e2f9;
		font-family: 'Roboto Mono', monospace;
		font-weight: 500;
		margin: 10px 0;
	}
}
footer {
	width: 100%;
	padding: 50px 0;
	position: relative;
	background-color: #111416;
	.footer-logo-list {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 60%;
		margin: 20px auto;
		padding: 0;
		list-style: none;
	}
	.footer-logo-icon {
		font-size: 2rem;
		text-decoration: none;
		color: #ffffff;
		transition: all 0.25s var(--easing);
		&:hover {
			text-decoration: none;
			color: #8251e9;
			transition: all 0.25s var(--easing);
		}
	}
	.footer-author {
		font-family: 'Roboto Mono', monospace;
		font-size: 0.8rem;
		font-weight: 300;
		text-align: center;
		color: #ffffff;
		margin: 20px 0;
		padding: 0;
		span.hearth {
			color: #ffffff;
			transition: all 0.25s var(--easing);
			&:hover {
				color: #8251e9;
				transition: all 0.25s var(--easing);
			}
		}
	}
	.footer-policy {
		font-family: 'Roboto Mono', monospace;
		font-size: 0.8rem;
		font-weight: 300;
		text-align: center;
		color: #ffffff;
		margin: 20px 0;
		padding: 0;
	}
	.footer-credits {
		font-family: 'Roboto Mono', monospace;
		font-size: 0.8rem;
		font-weight: 300;
		text-align: center;
		color: #ffffff;
		margin: 20px 0;
		padding: 0;
		
	}
	a {
		color: #ffffff;
		text-decoration: dotted underline;
		transition: all 0.25s var(--easing);
		&:hover {
			color: #8251e9;
			text-decoration: solid underline;
			transition: all 0.25s var(--easing);
		}
	}
	.bottom-gradient {
		width: 100%;
		height: 10px;
		background-image: linear-gradient(90deg, #b4e2f9 0%, #5f78ef 25%, #8251e9 50%, #ad56e3 75%, #df7bf5 100%);
		position: absolute;
		bottom: 0;
	}
}