<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Robots -->
    <meta name="robots" content="noindex, nofollow">
    <!-- Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5">
    <meta name="format-detection" content="telephone=no">
    <!-- Title -->
    <title>Mathéo'sportfolio</title>
    <!-- Description -->
    <meta name="description" content="Portfolio de Mathéo Galuba, étudiant en informatique">
    <!--Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.0/smooth-scroll.min.js"></script>
</head>

<body class="loading">
    <nav>
        <div class="nav-container container">
            <div class="nav-logo">
                <a class="nav-logo-link coloredOnHover" href="/">
                    <svg class="nav-logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 900">
                        <polygon class="cls-1"
                            points="346.07 287.66 512.15 0 1080 0 1080 180 616.07 180 450 467.66 346.07 287.66" />
                        <polygon class="cls-1" points="450 647.56 180 180 0 180 180 540 346.07 827.65 450 647.56" />
                        <polygon class="cls-1"
                            points="1080 269.9 1080 900 630 900 720 720 900 720 900 449.9 771.91 450 875.86 269.95 1080 269.9" />
                        <polygon class="cls-2"
                            points="667.98 270 346.07 827.65 387.85 900 512.1 900 875.86 269.95 667.98 270" />
                        <polygon class="cls-2" points="0 900 180 900 180 540 0 180 0 900" />
                    </svg>
                    <span class="nav-logo-link-bold">Portfolio</span>
                    <span class="nav-logo-link-thin"> Mathéo Galuba</span>
                </a>
            </div>
            <div class="nav-menu">
                <ul class="nav-menu-list">
                    <li class="nav-menu-list-element">
                        <a class="active" href="/">
                            <span>Accueil</span>
                            <div></div>
                        </a>
                    </li>
                    <li class="nav-menu-list-element">
                        <a href="/about">
                            <span>À propos</span>
                            <div></div>
                        </a>
                    </li>
                    <li class="nav-menu-list-element">
                        <a href="/project">
                            <span>Projets</span>
                            <div></div>
                        </a>
                    </li>
                    <li class="nav-menu-list-element">
                        <a href="/contact">
                            <span>Contact</span>
                            <div></div>
                        </a>
                    </li>
                </ul>
                <input id="nav-menu-toggle-id" class="nav-menu-toggle" type="checkbox" />
                <label for="nav-menu-toggle-id">
                    <svg class="nav-menu-toggle-icon" viewBox="0 0 60 30">
                        <g class="nav-menu-toggle-icon-group">
                            <g class="nav-menu-toggle-icon-open">
                                <path d="M 6 0 L 54 0" />
                                <path d="M 6 15 L 54 15" />
                                <path d="M 6 30 L 54 30" />
                            </g>
                            <g class="nav-menu-toggle-icon-close">
                                <path d="M 15 0 L 45 30" />
                                <path d="M 15 30 L 45 0" />
                            </g>
                        </g>
                    </svg>
                </label>
            </div>
            <script>
                // add class nav-active to nav-menu-list when nav-menu-toggle is checked
                $('#nav-menu-toggle-id').click(function () {
                    if ($(this).is(':checked')) {
                        $('.nav-menu-list').addClass('nav-active');
                        $(hearer).a;
                    } else {
                        $('.nav-menu-list').removeClass('nav-active');
                    }
                });
            </script>
        </div>
    </nav>

    <header>
        <div class="background" id="codeBlocksBackground">

        </div>

        <div class="titles" id="titles">
            <h1 class="fillTextWithgradient">Error 404</h1>
            <h2 class="fillTextWithgradient">Page not found</h2>
        </div>

        <!-- Header paralax -->
        <script>
            // Header paralax
            backgroundParalax = document.getElementById("codeBlocksBackground");
            titleParalax = document.getElementById("titles");
            window.addEventListener("scroll", function () {
                backgroundParalax.style.transform = "translateY(" + window.pageYOffset / 2 + "px)";
                titleParalax.style.transform = "translateY(" + window.pageYOffset / 3 + "px)";
            }); 
        </script>
    </header>

    <footer>
        <div class="container">
            <ul class="footer-logo-list">
                <li>
                    <a href="https://github.com/Paracetamol56" target="_blank"
                        class="footer-logo-icon fab fa-github"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/matheogaluba/" target="_blank"
                        class="footer-logo-icon fab fa-linkedin"></a>
                </li>
                <li>
                    <a href="mailto:matheo.galu56@gmail.com" target="_blank" class="footer-logo-icon fas fa-at"></a>
                </li>
                <li>
                    <a href="https://discordapp.com/users/609748578004500517/" target="_blank"
                        class="footer-logo-icon fab fa-discord"></a>
                </li>
            </ul>
            <div class="footer-author">
                <p>
                    Made with <span class="hearth fas fa-heart"></span> by Mathéo Galuba - Under Apache 2.0 <a
                        href="https://github.com/Paracetamol56/Portfolio/blob/master/LICENSE" target="_blank"
                        rel="nofollow">License</a>
                </p>
            </div>
            <div class="footer-credits">
                <p>
                    Icons from <a href="https://fontawesome.com/" target="_blank" rel="nofollow">Font Awesome</a>.
                    Web fonts from <a href="https://fonts.google.com/" target="_blank" rel="nofollow">Google</a>.
                </p>
            </div>
        </div>
        <div class="bottom-gradient">
        </div>
    </footer>

    <!-- Loader -->
    <div id="loader" class="loader-wrapper">
        <svg id="Calque_2" class="loader-logo" data-name="Calque 2" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1080 900">
            <polygon class="cls-1"
                points="346.07 287.66 512.15 0 1080 0 1080 180 616.07 180 450 467.66 346.07 287.66" />
            <polygon class="cls-1" points="450 647.56 180 180 0 180 180 540 346.07 827.65 450 647.56" />
            <polygon class="cls-1"
                points="1080 269.9 1080 900 630 900 720 720 900 720 900 449.9 771.91 450 875.86 269.95 1080 269.9" />
            <polygon class="cls-2" points="667.98 270 346.07 827.65 387.85 900 512.1 900 875.86 269.95 667.98 270" />
            <polygon class="cls-2" points="0 900 180 900 180 540 0 180 0 900" />
        </svg>
        <div class="loader-animation">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <script>
            $(window).on('load', function () {
                $('.loader-wrapper').fadeOut(500);
                $('body').removeClass('loading');
            });
        </script>
    </div>

    <!-- Scripts -->
    <!-- Header animation -->
    <script type="module" src="js/header.js"></script>
    <!-- Fader animation -->
    <script type="module" src="js/fader.js"></script>
</body>

</html>